In [2]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [5]:
seasons = pd.read_csv('data/j_seasons.csv')
seasons.drop(index = 1, inplace = True, errors = 'ignore')
seasons.drop(index = 32, inplace = True, errors = 'ignore')
seasons.drop(index = 39, inplace = True, errors = 'ignore')

seasons

                                           season_url
0   http://www.j-archive.com/showseason.php?season=37
2   http://www.j-archive.com/showseason.php?season=36
3   http://www.j-archive.com/showseason.php?season=35
4   http://www.j-archive.com/showseason.php?season=34
5   http://www.j-archive.com/showseason.php?season=33
6   http://www.j-archive.com/showseason.php?season=32
7   http://www.j-archive.com/showseason.php?season=31
8   http://www.j-archive.com/showseason.php?season=30
9   http://www.j-archive.com/showseason.php?season=29
10  http://www.j-archive.com/showseason.php?season=28
11  http://www.j-archive.com/showseason.php?season=27
12  http://www.j-archive.com/showseason.php?season=26
13  http://www.j-archive.com/showseason.php?season=25
14  http://www.j-archive.com/showseason.php?season=24
15  http://www.j-archive.com/showseason.php?season=23
16  http://www.j-archive.com/showseason.php?season=22
17  http://www.j-archive.com/showseason.php?season=21
18  http://www.j-archive.com/showseason.php?season=20
19  http://www.j-archive.com/showseason.php?season=19
20  http://www.j-archive.com/showseason.php?season=18
21  http://www.j-archive.com/showseason.php?season=17
22  http://www.j-archive.com/showseason.php?season=16
23  http://www.j-archive.com/showseason.php?season=15
24  http://www.j-archive.com/showseason.php?season=14
25  http://www.j-archive.com/showseason.php?season=13
26  http://www.j-archive.com/showseason.php?season=12
27  http://www.j-archive.com/showseason.php?season=11
28  http://www.j-archive.com/showseason.php?season=10
29   http://www.j-archive.com/showseason.php?season=9
30   http://www.j-archive.com/showseason.php?season=8
31   http://www.j-archive.com/showseason.php?season=7
33   http://www.j-archive.com/showseason.php?season=6
34   http://www.j-archive.com/showseason.php?season=5
35   http://www.j-archive.com/showseason.php?season=4
36   http://www.j-archive.com/showseason.php?season=3
37   http://www.j-archive.com/showseason.php?season=2
38   http://www.j-archive.com/showseason.php?season=1

In [17]:
for index, row in seasons.iterrows():
    time.sleep(10)
    url = row['season_url']
    print(url)
    response = requests.get(url)
    soup = BeautifulSoup(response.text)
    episodes = np.array([a['href'] for a in soup.findAll('a') if 'game_id' in a['href']])
    episodes = pd.DataFrame(episodes)
    episodes.columns = ['episode_url']
    season = soup.find('title').get_text()
    season = season.split('Season ')[1]
    episodes['season'] = season
    episodes.to_csv('data/j_episodes.csv', mode='a', index=False, header=False)

http://www.j-archive.com/showseason.php?season=37
http://www.j-archive.com/showseason.php?season=36
http://www.j-archive.com/showseason.php?season=35
http://www.j-archive.com/showseason.php?season=34
http://www.j-archive.com/showseason.php?season=33
http://www.j-archive.com/showseason.php?season=32
http://www.j-archive.com/showseason.php?season=31
http://www.j-archive.com/showseason.php?season=30
http://www.j-archive.com/showseason.php?season=29
http://www.j-archive.com/showseason.php?season=28
http://www.j-archive.com/showseason.php?season=27
http://www.j-archive.com/showseason.php?season=26
http://www.j-archive.com/showseason.php?season=25
http://www.j-archive.com/showseason.php?season=24
http://www.j-archive.com/showseason.php?season=23
http://www.j-archive.com/showseason.php?season=22
http://www.j-archive.com/showseason.php?season=21
http://www.j-archive.com/showseason.php?season=20
http://www.j-archive.com/showseason.php?season=19
http://www.j-archive.com/showseason.php?season=18
http://www.j-archive.com/showseason.php?season=17
http://www.j-archive.com/showseason.php?season=16
http://www.j-archive.com/showseason.php?season=15
http://www.j-archive.com/showseason.php?season=14
http://www.j-archive.com/showseason.php?season=13
http://www.j-archive.com/showseason.php?season=12
http://www.j-archive.com/showseason.php?season=11
http://www.j-archive.com/showseason.php?season=10
http://www.j-archive.com/showseason.php?season=9
http://www.j-archive.com/showseason.php?season=8
http://www.j-archive.com/showseason.php?season=7
http://www.j-archive.com/showseason.php?season=6
http://www.j-archive.com/showseason.php?season=5
http://www.j-archive.com/showseason.php?season=4
http://www.j-archive.com/showseason.php?season=3
http://www.j-archive.com/showseason.php?season=2
http://www.j-archive.com/showseason.php?season=1

In [59]:
#start here!
episodes = pd.read_csv('data/j_episodes.csv')

In [60]:
episodes = episodes[episodes['episode_url'].str[:4]=='http']

In [61]:
episodes

                                            episode_url  season
0     http://www.j-archive.com/showgame.php?game_id=...      34
1     http://www.j-archive.com/showgame.php?game_id=...      34
2     http://www.j-archive.com/showgame.php?game_id=...      34
3     http://www.j-archive.com/showgame.php?game_id=...      34
4     http://www.j-archive.com/showgame.php?game_id=...      34
...                                                 ...     ...
6265  http://www.j-archive.com/showgame.php?game_id=180       1
6266  http://www.j-archive.com/showgame.php?game_id=179       1
6267  http://www.j-archive.com/showgame.php?game_id=177       1
6268  http://www.j-archive.com/showgame.php?game_id=174       1
6269  http://www.j-archive.com/showgame.php?game_id=173       1

[6268 rows x 2 columns]

In [62]:
#episodes = episodes[499:500]
#episodes

In [63]:
#for index, row in episodes.iterrows():
#    url = row['episode_url']
#    season = row['season']
#    print(url, season)

In [64]:
for index, row in episodes.iterrows(): 
    time.sleep(2)
    url = row['episode_url']
    season = row['season']
    #print(url, season)
    response = requests.get(url)
    soup = BeautifulSoup(response.text)
    #get the show header info
    header = soup.find('h1')
    header = header.text
    show_num = header.split('-')[0].strip().split('#')[1]
    air_date = datetime.strftime(datetime.strptime(header.split('-')[1].strip().split(',',1)[1].strip(),'%B %d, %Y'), '%Y-%m-%d')
    ##print(show_num, ', ', air_date)
    
    #get the round scores
    scores = soup.findAll(['h3','table'])
    score_texts = np.array([['Scores at the end of the Jeopardy! Round:', 'J'],
                            ['Scores at the end of the Double Jeopardy! Round:', 'DJ'],
                            ['Final scores:', 'FJ']])
    j_round = []
    j_name = []
    j_score = []
    for x in score_texts:
        for element in scores:
            if element.text == x[0]:
                while element.name != 'table':
                    element = element.next_sibling
                    #print('name: ',element.name)
                score_table = element.findAll('tr')
                [j_round.append(x[1]) for td in score_table[0].findAll('td')]
                [j_name.append(td.text) for td in score_table[0].findAll('td')]
                [j_score.append(int(re.sub('[$,]', '', td.text))) for td in score_table[1].findAll('td')]

    j_scores = pd.DataFrame({'show_num': show_num, 'round_code': j_round, 'contestant': j_name, 'score': j_score})

    #get the game stats
    remarks_text = 'Coryat scores:'
    j_right = []
    j_ddright = []
    j_wrong = []
    j_ddwrong = []
    for element in scores:
        if element.text == remarks_text:
            while element.name != 'table':
                element = element.next_sibling
            remarks_table = element.findAll('td', class_ = 'score_remarks')
            [j_right.append((re.findall('(\d{1,2}) R', x.text.split(',')[0]) or list('0'))[0]) for x in remarks_table]
            [j_ddright.append((re.findall('(\d{1}) DD', x.text.split(',')[0]) or list('0'))[0]) for x in remarks_table]
            [j_wrong.append((re.findall('(\d{1,2}) W', x.text.split(',')[1]) or list('0'))[0]) for x in remarks_table]
            [j_ddwrong.append((re.findall('(\d{1}) DD', x.text.split(',')[1]) or list('0'))[0]) for x in remarks_table]

    j_remarks = pd.DataFrame({'contestant': j_name[:3], 'num_right': j_right, 'num_ddright': j_ddright, 'num_wrong': j_wrong,
                             'num_ddwrong': j_ddwrong})
    j_remarks[['num_right', 'num_ddright', 'num_wrong', 'num_ddwrong']] = j_remarks[['num_right', 'num_ddright','num_wrong', 'num_ddwrong']].apply(pd.to_numeric)
    ##j_remarks
    
    #merge
    j_scores = j_scores.merge(j_remarks, how = 'left', on='contestant')
    
    #get the finish order
    finish_order = []
    winner = j_scores[j_scores.round_code=='FJ'].sort_values(['score'], ascending = False)['contestant'].iloc[0]
    second = j_scores[j_scores.round_code=='FJ'].sort_values(['score'], ascending = False)['contestant'].iloc[1]
    third = j_scores[j_scores.round_code=='FJ'].sort_values(['score'], ascending = False)['contestant'].iloc[2]
    finish_order.append([winner, 'Winner'])
    finish_order.append([second, 'Second'])
    finish_order.append([third, 'Third'])
    finish_order = pd.DataFrame(finish_order)
    finish_order.columns=(['contestant', 'finish'])
    
    #merge
    j_scores = j_scores.merge(finish_order, how = 'left', on = 'contestant')
    #append to the dataset
    j_scores.to_csv('data/j_scores.csv', mode = 'a', index=False, header=False)
    
    #build the categories df
    categories = soup.findAll('td', attrs = {'class': 'category_name'})
    categories = np.array([x.text for x in categories])
    rounds = []
    [[rounds.append(item) for x in range(6)] for item in ['J', 'DJ']]
    rounds.append('FJ')
    rounds = np.array(rounds)
    catnums = np.array(['1', '2', '3', '4', '5', '6', '1', '2', '3', '4', '5', '6', '1'])
    categories = pd.DataFrame({'category': categories, 'round_code': rounds, 'cat_num': catnums})

    #add the header data collected previously
    categories['season'] = season
    categories['show_num'] = show_num
    categories['air_date'] = air_date
    ##categories
    
    #process all the clues except FJ
    clues = soup.find_all('td', attrs = {'class': 'clue'})
    all_rows = []
    for clue in clues:
        ##print(type(clue))
        new_row = []
        #Get our clue number, which tells us the round, category, and board position
        clue_id = clue.find('td', class_='clue_text')
        if not clue_id == None:
            ##print(clue_id)
            clue_id = clue.find('td', class_='clue_text')['id']
            #What round is this?
            round_code = clue_id.split('_')[1]
            cat_num = clue_id.split('_')[2] if not round_code == 'FJ' else 'checkme'
            clue_num = clue_id.split('_')[3] if not round_code == 'FJ' else 'checkme'
            if not round_code == 'FJ':
                #Get our clue value
                #DD does not have a clue_value, it has a clue_value_daily_double
                #For DD split out the dollar value and set the flag
                clue_value = clue.find('td', class_='clue_value_daily_double').text.split(' ')[1] if not clue.find('td', {'class':'clue_value'}) else clue.find('td', {'class':'clue_value'}).text
                daily_double = False if not clue.find('td', class_='clue_value_daily_double') else True
                clue_order = clue.find('td', class_='clue_order_number').text
                clue_text = clue.find('td', class_='clue_text').text
                corr_resp = BeautifulSoup(clue.find('div', onmouseover=True).get('onmouseover'))
                ##print(corr_resp)
                #Check for clues with no correct responder, and set the flag
                corr_respr1 = '' if not corr_resp.find('td', class_='right') else corr_resp.find('td', class_='right').text
                corr_FJ_wager1 = ''
                corr_respr2 = ''
                corr_FJ_wager2 = ''
                corr_respr3 = ''
                corr_FJ_wager3 = ''
                triple_stumper = True if not corr_resp.find('td', class_='right') else False
                incorr_resprs = corr_resp.findAll('td', class_='wrong')
                #Okay, THIS is ugly
                incorr_respr1 = ''
                incorr_FJ_wager1 = ''
                incorr_respr2 = ''
                incorr_FJ_wager2 = ''
                incorr_respr3 = ''
                incorr_FJ_wager3 = ''
                if len(incorr_resprs) >= 1:
                    incorr_respr1 = '' if incorr_resprs[0].text == 'Triple Stumper' else incorr_resprs[0].text
                if len(incorr_resprs) >= 2:
                    incorr_respr2 = '' if incorr_resprs[1].text == 'Triple Stumper' else incorr_resprs[1].text
                if len(incorr_resprs) == 3:
                    incorr_respr3 = '' if incorr_resprs[2].text == 'Triple Stumper' else incorr_resprs[2].text
                corr_resp = corr_resp.find('em', class_='correct_response').text
                new_row = [round_code, cat_num, clue_num, clue_id, clue_value, daily_double, clue_order, clue_text, corr_resp, 
                           corr_respr1, corr_FJ_wager1, corr_respr2, corr_FJ_wager2, corr_respr3, corr_FJ_wager3, 
                           triple_stumper, incorr_respr1, incorr_FJ_wager1, incorr_respr2, incorr_FJ_wager2, incorr_respr3, incorr_FJ_wager3 ]
                all_rows.append(new_row)
                ##all_rows

    #process the FJ clue
    round_code = 'FJ'
    cat_num = '1'
    clue_num = '1'
    clue_id = 'clue_FJ'
    clue_value = ''
    daily_double = False
    clue_order = ''
    clue_text = ''
    corr_resp = ''
    triple_stumper = True

    final_round = soup.find('table', class_ = 'final_round').find_all('td')
    ##type(final_round)
    #final_round - this will absolutely barf and so will a print; it gives a type error

    for item in final_round:
        #this only works because it's the first item! aaargh
        stats = BeautifulSoup(item.find('div', onmouseover=True).get('onmouseover'))
        if stats:
            break
    corr_resp = stats.find('em')
    corr_resp = corr_resp.get_text()

    #make a dictionary of responders
    resprs = {}
    wagers = stats.findAll('td')

    right = 0
    wrong = 0
    for td in wagers:
        td_text = td.get_text()
        if td.has_attr('class'):
            td_class = td.get('class')[0]
            if td_class == 'right':
                triple_stumper = False
                right +=1
                key_name = 'corr_respr' + str(right)
                resprs[key_name] = td_text
                wager_key = 'corr_FJ_wager' + str(right)
            else:
                wrong +=1
                key_name = 'incorr_respr' + str(wrong)
                resprs[key_name] = td_text
                wager_key = 'incorr_FJ_wager' + str(wrong)
        if td.has_attr('rowspan'):
            continue
        if not td.has_attr('class'):
            resprs[wager_key] = td_text

    corr_respr1 = resprs.get('corr_respr1', '')
    corr_FJ_wager1 = resprs.get('corr_FJ_wager1', '')
    corr_respr2 = resprs.get('corr_respr2', '')
    corr_FJ_wager2 = resprs.get('corr_FJ_wager2', '')
    corr_respr3 = resprs.get('corr_respr3', '')
    corr_FJ_wager3 = resprs.get('corr_FJ_wager3', '')
    incorr_respr1 = resprs.get('incorr_respr1','')
    incorr_FJ_wager1 = resprs.get('incorr_FJ_wager1', '')
    incorr_respr2 = resprs.get('incorr_respr2','')
    incorr_FJ_wager2 = resprs.get('incorr_FJ_wager2', '')
    incorr_respr3 = resprs.get('incorr_respr3','')
    incorr_FJ_wager3 = resprs.get('incorr_FJ_wager3', '')

    clue_text = soup.find('td', attrs = {'class': 'clue_text', 'id': 'clue_FJ'})
    clue_text = clue_text.get_text()
    ##print(clue_text)

    new_row = [round_code, cat_num, clue_num, clue_id, clue_value, daily_double, clue_order, clue_text, corr_resp, 
                       corr_respr1, corr_FJ_wager1, corr_respr2, corr_FJ_wager2, corr_respr3, corr_FJ_wager3, 
                       triple_stumper, incorr_respr1, incorr_FJ_wager1, incorr_respr2, incorr_FJ_wager2, incorr_respr3, incorr_FJ_wager3]
    all_rows.append(new_row)
    #make df of all clues for this show
    this_show = pd.DataFrame(all_rows)
    this_show.columns = ['round_code', 'cat_num', 'clue_num', 'clue_id', 'clue_value', 'daily_double', 'clue_order', 'clue_text', 'corr_resp', 
                       'corr_respr1', 'corr_FJ_wager1', 'corr_respr2', 'corr_FJ_wager2', 'corr_respr3', 'corr_FJ_wager3', 
                       'triple_stumper', 'incorr_respr1', 'incorr_FJ_wager1', 'incorr_respr2', 'incorr_FJ_wager2', 'incorr_respr3', 'incorr_FJ_wager3']
    this_show = this_show.merge(categories, how='left', left_on=['round_code', 'cat_num'], right_on=['round_code', 'cat_num'])
    ##this_show
    #append to the dataset
    this_show.to_csv('data/j_clues.csv', mode='a', index=False, header=False)

ValueError: arrays must all be same length

In [57]:
all_rows

[['J',
  '1',
  '1',
  'clue_J_1_1',
  '$200',
  False,
  '7',
  'Set in Mexico: "Like Water for ____"',
  'chocolate',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '1',
  'clue_J_2_1',
  '$200',
  False,
  '16',
  "In 2006, he pledged to donate more than 80% of his wealth--& he's worth billions--to charities",
  'Buffett',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '1',
  'clue_J_3_1',
  '$200',
  False,
  '6',
  'Colonel Bat Guano & Major King Kong are characters in this 1964 Peter Sellers satire',
  'Dr. Strangelove',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '1',
  'clue_J_4_1',
  '$200',
  False,
  '26',
  'This official language of Myanmar uses the old name of the nation',
  'Burmese',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '1',
  'clue_J_5_1',
  '$200',
  False,
  '1',
  'Sparring with yourself',
  'shadowboxing',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '1',
  'clue_J_6_1',
  '$200',
  False,
  '21',
  'Its name honoring Argentinian independence, Avenida 9 de Julio in this city is 150 yards & 12 lanes wide',
  'Buenos Aires',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '2',
  'clue_J_1_2',
  '$400',
  False,
  '8',
  'Erma Bombeck\'s classic wit: "If Life Is a Bowl of ____, What Am I Doing in the Pits?"',
  'cherries',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '2',
  'clue_J_2_2',
  '$400',
  False,
  '17',
  'Wealth from the Bankers Life & Casualty Co. enabled him & wife Catherine T. to endow their foundation',
  '(John D.) MacArthur',
  'Suzie',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '2',
  'clue_J_3_2',
  '$400',
  False,
  '12',
  'In 2014 he shot straight when he played "American Sniper" Chris Kyle',
  'Bradley Cooper',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '2',
  'clue_J_4_2',
  '$400',
  False,
  '27',
  'Myanmar is under international pressure to stop the persecution of the Rohingya people, mostly of this religion',
  'Islam',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '2',
  'clue_J_5_2',
  '$400',
  False,
  '2',
  'Something indisputable has been proved "beyond" this',
  'a shadow of a doubt',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '2',
  'clue_J_6_2',
  '$400',
  False,
  '22',
  'Trump Tower in Manhattan is located on this avenue',
  'Fifth Avenue',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '3',
  'clue_J_1_3',
  '$600',
  False,
  '9',
  'Serve a kids\' book with a side of jam: "If You Give a Moose a ____"',
  'a muffin',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '3',
  'clue_J_2_3',
  '$600',
  False,
  '18',
  "EJAF is short for this musician's AIDS Foundation, which works to eradicate the disease",
  'Elton John',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '3',
  'clue_J_3_3',
  '$600',
  False,
  '13',
  'This 1981 Bill Murray movie was made with the full cooperation of the U.S. Army; did they read the script?',
  'Stripes',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '3',
  'clue_J_4_3',
  '$600',
  False,
  '28',
  "State counsellor is one of her titles; she can't be president because she married a foreigner & had foreigner babies",
  'Suu Kyi',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '3',
  'clue_J_5_3',
  '$600',
  False,
  '3',
  'Seen here is one of these at play',
  'a shadow puppet',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '3',
  'clue_J_6_3',
  '$600',
  False,
  '23',
  'Kalakaua Avenue is a famed shopping street in this city',
  'Honolulu',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '4',
  'clue_J_1_4',
  '$800',
  False,
  '10',
  'Set in the Hispanic quarter of Chicago:"The House on ____ Street"',
  'Mango Street',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '4',
  'clue_J_2_4',
  '$1,000',
  True,
  '19',
  'In the 1870s the will of this man from Md. endowed an orphanage for black children, a university & a hospital',
  'Johns Hopkins',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Suzie',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '4',
  'clue_J_3_4',
  '$800',
  False,
  '14',
  'Tim Considine of "My Three Sons" fame was the slapee in this George C. Scott film',
  'Patton',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '4',
  'clue_J_4_4',
  '$800',
  False,
  '30',
  'The Carmen Lucia, a 23-carat type of this corundum gemstone, came form the Mogok region of Myanmar',
  'ruby',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '4',
  'clue_J_5_4',
  '$800',
  False,
  '4',
  'In the British government, the opposition party creates this as an alternative--no carpentry required',
  'a shadow cabinet',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '4',
  'clue_J_6_4',
  '$800',
  False,
  '24',
  'As you approach Vt. & Ct. avenues on the Monopoly board, you pass through this other light blue avenue',
  'Oriental Avenue',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Suzie',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '5',
  'clue_J_1_5',
  '$1000',
  False,
  '11',
  'Steinbeck\'s Camelot in California: "____ Flat"',
  'tortilla',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '5',
  'clue_J_2_5',
  '$1000',
  False,
  '20',
  'L.A. has a contemporary art museum & a playhouse named for this music & movie mogul',
  'David Geffen',
  'Suzie',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '5',
  'clue_J_3_5',
  '$1000',
  False,
  '15',
  'As Navy SEAL Marcus Luttrell, he was the "Lone survivor" in the 2013 film',
  'Mark Wahlberg',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '5',
  'clue_J_4_5',
  '$1000',
  False,
  '29',
  "The temples seen here have this 5-letter name, but not because they aren't Christian--it's the village they are in",
  'Pagan',
  'Suzie',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '5',
  'clue_J_5_5',
  '$1000',
  False,
  '5',
  'The drier part of a mountain is said to be in this',
  'rain shadow',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '5',
  'clue_J_6_5',
  '$1000',
  False,
  '25',
  'If you walked down this avenue from Oakland to U.C. Berkeley in the 1960s, you would spot many hippies',
  'Telegraph',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '1',
  'clue_DJ_1_1',
  '$400',
  False,
  '11',
  'Seen here is a traditional carving made by this native people of New Zealand',
  'the Maori',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '1',
  'clue_DJ_2_1',
  '$400',
  False,
  '26',
  'James Gandolfini led 2 types of families, each with their own unique sets of problems, on this HBO drama',
  'The Sopranos',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '1',
  'clue_DJ_3_1',
  '$400',
  False,
  '6',
  'In 2000 John Paul II came to Capernaum & prayed at the spot where this apostle & first pope is said to have lived',
  'Peter',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '1',
  'clue_DJ_4_1',
  '$400',
  False,
  '17',
  'The American Academy of Dermatology suggests tweezers or a needle for removal of these wood slivers',
  'a splinter',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '1',
  'clue_DJ_5_1',
  '$400',
  False,
  '16',
  'January 24, 1946: This 51-member body adopts its first resolution, on the uses of atomic energy',
  'the General Assembly',
  'Suzie',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '1',
  'clue_DJ_6_1',
  '$400',
  False,
  '1',
  'Folded-back part of a jacket collar',
  'a lapel',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '2',
  'clue_DJ_1_2',
  '$800',
  False,
  '12',
  "In 2017 Chicagoans celebrated the 50th birthday of this cubist's 50-foot-tall sculpture in Daley Plaza",
  'Picasso',
  'Suzie',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '2',
  'clue_DJ_2_2',
  '$800',
  False,
  '27',
  'In "Two and a Half Men", he was just Duckie playing Alan Harper, dad to the half-man',
  '(Jon) Cryer',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '2',
  'clue_DJ_3_2',
  '$1,200',
  True,
  '7',
  'After the crucifixion Joseph of this city went to Pilate & asked for the body of Jesus',
  'Arimathea',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '2',
  'clue_DJ_4_2',
  '$800',
  False,
  '18',
  "Androcles had a few tense moments until he removed one of these pointy things from a lion's paw",
  'a thorn',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '2',
  'clue_DJ_5_2',
  '$800',
  False,
  '22',
  'December 10, 1948: This milestone document, the UDHR, is adopted',
  'the Universal Declaration of Human Rights',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '2',
  'clue_DJ_6_2',
  '$3,500',
  True,
  '2',
  'The AKC calls this German import "an inherent protector"',
  'a Rottweiler',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Matt',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '3',
  'clue_DJ_1_3',
  '$1200',
  False,
  '13',
  '(Sarah of the Clue Crew shows a sculpture on the monitor.) Leaning against another famous figure, the sculpture here is a personification of this river, with 16 children climbing about alluding to the 16 cubits it ideally rose during flooding to ensure a fertile year',
  'the Nile',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '3',
  'clue_DJ_2_3',
  '$1200',
  False,
  '28',
  'On this show, Will moved in with his Auntie Viv & Uncle Phil, parents to Hilary, Ashley, Nicky & dance master Carlton',
  'The Fresh Prince of Bel-Air',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '3',
  'clue_DJ_3_3',
  '$1200',
  False,
  '8',
  'Paul wrote to the Romans from Corinth; to the Corinthians from Ephesus; &, closing the circle, to them from Rome',
  'Ephesians',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '3',
  'clue_DJ_4_3',
  '$1200',
  False,
  '19',
  'Waffle & sugar are 2 varieties of this item invented around 1900',
  'an ice cream cone',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '3',
  'clue_DJ_5_3',
  '$1200',
  False,
  '23',
  "November 4, 1977: The Security Council condemns this country's racist regime & initiates an arms embargo",
  'South Africa',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '3',
  'clue_DJ_6_3',
  '$1200',
  False,
  '3',
  'In this Scandinavian language, "flower" is blomst',
  'Norwegian',
  'Suzie',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '4',
  'clue_DJ_1_4',
  '$1600',
  False,
  '14',
  'His sculpture "The Burghers of Calais" honors a sacrifice by the city\'s leaders in 1347',
  'Auguste Rodin',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '4',
  'clue_DJ_2_4',
  '$1600',
  False,
  '29',
  'Taiwanese immigrant Louis Huang makes a go of it in 1990s Orlando with his wife & 3 sons on this ABC sitcom',
  'Fresh Off the Boat',
  'Suzie',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '4',
  'clue_DJ_3_4',
  '$1600',
  False,
  '9',
  'As recounted in 1 Kings & 2 Chronicles, the queen of this realm converted to Judaism',
  'Sheba',
  'Matt',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '4',
  'clue_DJ_4_4',
  '$1600',
  False,
  '20',
  'This Japanese electronics company got its name from a replaceable-lead pencil that was always pointy',
  'Sharp',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '4',
  'clue_DJ_5_4',
  '$1600',
  False,
  '24',
  "October 25, 1971: The People's Republic of China is admitted, & this leader's representatives are expelled",
  'Chiang Kai-Shek',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '4',
  'clue_DJ_6_4',
  '$1600',
  False,
  '4',
  'From "T" to sullen "T", this adjective means ready to fight',
  'truculent',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '5',
  'clue_DJ_1_5',
  '$2000',
  False,
  '15',
  'His "Bird in Space" was the subject of a court case after U.S. customs officials deemed it an industrial part & not a sculpture',
  'Constantin Brancusi',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '5',
  'clue_DJ_2_5',
  '$2000',
  False,
  '30',
  'His 2017 Emmy award as dad & son on "This Is Us" was his second in two years--for your information, the "K" is for Kelby',
  '(Sterling K.) Brown',
  'Laura',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '5',
  'clue_DJ_3_5',
  '$2000',
  False,
  '10',
  "It's the city where a reluctant Jonah was sent to preach",
  'Nineveh',
  'Suzie',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '5',
  'clue_DJ_4_5',
  '$2000',
  False,
  '21',
  'The island of Palawan, part of this country, is pointy on both ends',
  'the Philippines',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Laura',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '5',
  'clue_DJ_5_5',
  '$2000',
  False,
  '25',
  'December 2010: An appeal to safeguard people worldwide identified by this 4-letter abbreviation',
  'LGBT',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '5',
  'clue_DJ_6_5',
  '$2000',
  False,
  '5',
  '"Fetus" led to this word for infertile & later, weak but snobby',
  'effete',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['FJ',
  '1',
  '1',
  'clue_FJ',
  '',
  False,
  '',
  'Echoing a rock band with 8 platinum albums, the teams of the Ark. School for the Deaf are named for this animal',
  'a leopard',
  'Suzie',
  '$400',
  'Matt',
  '$850',
  '',
  '',
  False,
  'Laura',
  '$0',
  '',
  '',
  '',
  '']]

In [58]:
j_scores

,show_num,round_code,contestant,score,num_right,num_ddright,num_wrong,num_ddwrong,finish
0,7709,J,Laura,3000,18,0,3,0,Winner
1,7709,J,Scott,1600,11,0,5,3,Third
2,7709,J,Sarah,5200,19,0,3,0,Second
3,7709,DJ,Laura,15000,18,0,3,0,Winner
4,7709,DJ,Scott,4000,11,0,5,3,Third
5,7709,DJ,Sarah,11600,19,0,3,0,Second
6,7709,FJ,Laura,6799,18,0,3,0,Winner
7,7709,FJ,Scott,5,11,0,5,3,Third
8,7709,FJ,Sarah,6799,19,0,3,0,Second