In [27]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from datetime import datetime

Proposed Datasets
Show Info:
Season
Episode
Air date
Contestant 1
Contestant 2
Contestant 3
Returning Contestant

Show Details:
Episode
Round
Category
Clue
Value
Clue Order
Correct Response
Correct Responder
Incorrect Response 1
Incorrect Responder 1
Incorrect Response 2
Incorrect Responder 2
Incorrect Response 3
Incorrect Responder 3
Daily Double
Wager

Show Statistics:
J Round Score C1
J Round Score C2
J Round Score C3
DJ Round Score C1
DJ Round Score C2
DJ Round Score C3
FJ Wager C1
FJ Wager C2
FJ Wager C3
FJ Round Score C1
FJ Round Score C2
FJ Round Score C3

All Jeopardy! seasons:
http://www.j-archive.com/listseasons.php

## Season List

In [28]:
response = requests.get('http://www.j-archive.com/listseasons.php')

In [29]:
soup = BeautifulSoup(response.text)
#soup

In [30]:
season_urls = np.array(['http://www.j-archive.com/' + a['href'] for a in soup.findAll('a') 
                    if 'showseason' in a['href'] and 'http' not in a['href']])
#season_urls

In [6]:
seasons = pd.DataFrame(season_urls)
seasons.columns = ['season_url']
#seasons
seasons.to_csv('data/j_seasons.csv', index=False)

## Episode List

In [32]:
response = requests.get('http://www.j-archive.com/showseason.php?season=37')

In [34]:
soup = BeautifulSoup(response.text)
soup

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>J! Archive - Season 37</title>
<link href="http://www.j-archive.com/styles.css" rel="styleSheet" type="text/css"/>
<link href="http://www.j-archive.com/favicon.ico" rel="shortcut icon"/>
</head>
<body>
<div id="navbar">
<span id="navbarlogo"><a href="http://www.j-archive.com"><img alt="J! Archive" height="22" src="http://www.j-archive.com/j-a.gif" width="100"/></a></span>
<span id="navbartext"><a href="http://www.j-archive.com/showseason.php?season=37">[current season]</a> <a href="http://www.j-archive.com/showseason.php?season=36">[last season]</a> <a href="http://www.j-archive.com/listseasons.php">[all seasons]</a> <a href="http://www.j-archive.com/listprizes.php">[prizes]</a> <a href="http://www.j-archive.com/wageringcalculator.php">[wagering calculator]</a> <a href="http://www.j-archive.com/help.php">[help]</a></span>
<form accept-charset="utf-8" action="http://www.j-archive.com/search.php" enctype="x-www-form-encoded" id="navbarsearch" method="get">
<fieldset class="noborder">
<input class="search" id="search" maxlength="256" name="search" type="text" value=""/>
<input class="search_button" name="submit" type="submit" value="Search"/>
</fieldset>
</form>
</div>
<div id="content">
<h2 class="season">Season 37</h2>
<table>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6903">#8313, aired 2021-01-13</a>
</td>
<td valign="top">
      Lucy Ricketts vs. Josiah Jenkins vs. Cameron Whiteside
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6902">#8312, aired 2021-01-12</a>
</td>
<td valign="top">
      Tanay Kothari vs. Dusty Smith vs. Lucy Ricketts
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6901">#8311, aired 2021-01-11</a>
</td>
<td valign="top">
      Jim Gilligan vs. Tanay Kothari vs. Julia Shear Kushner
    </td>
<td class="left_padded" valign="top">
      First game with Ken Jennings as guest host.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6900">#8310, aired 2021-01-08</a>
</td>
<td valign="top">
      Yoshie Hill vs. Cliff Chang vs. Jim Gilligan
    </td>
<td class="left_padded" valign="top">
      Last game with Alex Trebek as host. Originally slated to...
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6899">#8309, aired 2021-01-07</a>
</td>
<td valign="top">
      Yoshie Hill vs. Natalie Craig vs. Tracy Lee
    </td>
<td class="left_padded" valign="top">
      Originally slated to air 2020-12-24.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6898">#8308, aired 2021-01-06</a>
</td>
<td valign="top">
      Manisha Munshi vs. Jared Blum vs. Yoshie Hill
    </td>
<td class="left_padded" valign="top">
      Originally slated to air 2020-12-23.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6897">#8307, aired 2021-01-05</a>
</td>
<td valign="top">
      Brayden Smith vs. Molly Fisher vs. Manisha Munshi
    </td>
<td class="left_padded" valign="top">
      Brayden Smith game 6.
Originally slated to air 2020-12-22.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6896">#8306, aired 2021-01-04</a>
</td>
<td valign="top">
      Brayden Smith vs. David Kaye vs. Teal Patterson
    </td>
<td class="left_padded" valign="top">
      Brayden Smith game 5. Originally slated to air 2020-12-21. Preceded...
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6895">#8305, aired 2020-12-18</a>
</td>
<td valign="top">
      Brayden Smith vs. Amanda Barkley-Levenson vs. Devon Cromwell
    </td>
<td class="left_padded" valign="top">
      Brayden Smith game 4.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6894">#8304, aired 2020-12-17</a>
</td>
<td valign="top">
      Brayden Smith vs. Pamela Lee vs. Teja Chemudupati
    </td>
<td class="left_padded" valign="top">
      Brayden Smith game 3.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6893">#8303, aired 2020-12-16</a>
</td>
<td valign="top">
      Brayden Smith vs. Rhonda Byer vs. Spencer Robins
    </td>
<td class="left_padded" valign="top">
      Brayden Smith game 2.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6892">#8302, aired 2020-12-15</a>
</td>
<td valign="top">
      Valerie Castelo vs. Margaret de Larios vs. Brayden Smith
    </td>
<td class="left_padded" valign="top">
      Brayden Smith game 1.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6891">#8301, aired 2020-12-14</a>
</td>
<td valign="top">
      Kate Freeman vs. Valerie Castelo vs. Jeffrey Williams
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6890">#8300, aired 2020-12-11</a>
</td>
<td valign="top">
      Kendra Blanchette vs. Nizar Abdalla vs. Kate Freeman
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6889">#8299, aired 2020-12-10</a>
</td>
<td valign="top">
      Kendra Blanchette vs. Gabriel DeRoche vs. Becca Jones
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6888">#8298, aired 2020-12-09</a>
</td>
<td valign="top">
      Kristen Thomas-McGill vs. Jason Grote vs. Kendra Blanchette
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6887">#8297, aired 2020-12-08</a>
</td>
<td valign="top">
      John Vigna vs. Kristen Thomas-McGill vs. Cody Lawrence
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6886">#8296, aired 2020-12-07</a>
</td>
<td valign="top">
      Katherine Ryan vs. Amy Kimmel vs. John Vigna
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6885">#8295, aired 2020-12-04</a>
</td>
<td valign="top">
      Fred Nelson vs. Josh Atkins vs. Katherine Ryan
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6884">#8294, aired 2020-12-03</a>
</td>
<td valign="top">
      Leslie Minot vs. Morgan Steele vs. Fred Nelson
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6883">#8293, aired 2020-12-02</a>
</td>
<td valign="top">
      T.J. Tallie vs. Leslie Minot vs. Michael Liu
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6882">#8292, aired 2020-12-01</a>
</td>
<td valign="top">
      Ryan Hemmel vs. T.J. Tallie vs. Denise Pool
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6881">#8291, aired 2020-11-30</a>
</td>
<td valign="top">
      Ryan Hemmel vs. Tracy Arwari vs. Ben Ring
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6880">#8290, aired 2020-11-27</a>
</td>
<td valign="top">
      Ryan Hemmel vs. Gabriel Ostler vs. Chandy McCarty
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6879">#8289, aired 2020-11-26</a>
</td>
<td valign="top">
      Ryan Hemmel vs. Zack Jones vs. Aaron Fernandez
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6878">#8288, aired 2020-11-25</a>
</td>
<td valign="top">
      Henry Baer vs. Ryan Hemmel vs. Antonette Hrycyk
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6877">#8287, aired 2020-11-24</a>
</td>
<td valign="top">
      Henry Baer vs. Matt McDaniel vs. Jennifer Rosenberg
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6876">#8286, aired 2020-11-23</a>
</td>
<td valign="top">
      Charlie Fonville vs. Amanda Minafo vs. Henry Baer
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6872">#8285, aired 2020-11-20</a>
</td>
<td valign="top">
      Andy Wood vs. Charlie Fonville vs. Rhonda Craft
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6871">#8284, aired 2020-11-19</a>
</td>
<td valign="top">
      Andy Wood vs. Emily Brogren vs. Tuan Nguyen
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6870">#8283, aired 2020-11-18</a>
</td>
<td valign="top">
      Andy Wood vs. Kevin Karp vs. Deanna Bolio
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6869">#8282, aired 2020-11-17</a>
</td>
<td valign="top">
      Andy Wood vs. Dan Burg vs. Holly Bishop
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6868">#8281, aired 2020-11-16</a>
</td>
<td valign="top">
      John Bussard vs. Kelly Hogan vs. Andy Wood
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6866">#8280, aired 2020-11-13</a>
</td>
<td valign="top">
      Kate Lazo vs. John Bussard vs. Mary Dang
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6865">#8279, aired 2020-11-12</a>
</td>
<td valign="top">
      Greg Marrero vs. Nalin Kashyap vs. Kate Lazo
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6864">#8278, aired 2020-11-11</a>
</td>
<td valign="top">
      Greg Marrero vs. Daniella Regencia vs. Doug Grimshaw
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6863">#8277, aired 2020-11-10</a>
</td>
<td valign="top">
      Ben Lewis vs. Melissa Givens vs. Greg Marrero
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6862">#8276, aired 2020-11-09</a>
</td>
<td valign="top">
      Andrew Chaikin vs. Monisha Crisell vs. Ben Lewis
    </td>
<td class="left_padded" valign="top">
      Episode begins with a tribute to Alex Trebek by Executive...
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6861">#8275, aired 2020-11-06</a>
</td>
<td valign="top">
      Burt Thakur vs. Andrew Chaikin vs. Steven Jones
    </td>
<td class="left_padded" valign="top">
      Last show aired before Alex Trebek's death at age 80...
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6860">#8274, aired 2020-11-05</a>
</td>
<td valign="top">
      Devin Rossiter vs. Christina Tang-Bernas vs. Burt Thakur
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6859">#8273, aired 2020-11-04</a>
</td>
<td valign="top">
      Devin Rossiter vs. Keoni Rodriguez vs. Paloma Thombley
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6858">#8272, aired 2020-11-03</a>
</td>
<td valign="top">
      Carmela Chan vs. Fernanda Trupiano vs. Devin Rossiter
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6857">#8271, aired 2020-11-02</a>
</td>
<td valign="top">
      Carmela Chan vs. Garrett Kuramoto vs. Regan Read
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6856">#8270, aired 2020-10-30</a>
</td>
<td valign="top">
      Carmela Chan vs. Chris Shim vs. Jon Posen
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6855">#8269, aired 2020-10-29</a>
</td>
<td valign="top">
      Scott Shrum vs. Lisa Gerlach vs. Carmela Chan
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6854">#8268, aired 2020-10-28</a>
</td>
<td valign="top">
      Brian Adams vs. Scott Shrum vs. Jennifer Spinos
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6853">#8267, aired 2020-10-27</a>
</td>
<td valign="top">
      Brian Adams vs. Christa Gush vs. Casey terHorst
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6852">#8266, aired 2020-10-26</a>
</td>
<td valign="top">
      Brian Adams vs. Ariel Saland vs. Jonathan Lee
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6851">#8265, aired 2020-10-23</a>
</td>
<td valign="top">
      Colin Davy vs. Brian Adams vs. Jamelle Shannon
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6850">#8264, aired 2020-10-22</a>
</td>
<td valign="top">
      Aimee Lim vs. Lindsey Packer vs. Colin Davy
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6849">#8263, aired 2020-10-21</a>
</td>
<td valign="top">
      Carlos Chaidez vs. Aimee Lim vs. Cole Bolton
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6848">#8262, aired 2020-10-20</a>
</td>
<td valign="top">
      Kristin Hucek vs. Carlos Chaidez vs. Maddie Kahan
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6847">#8261, aired 2020-10-19</a>
</td>
<td valign="top">
      Kristin Hucek vs. Nancy Bosecker vs. Joe Aquino
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6846">#8260, aired 2020-10-16</a>
</td>
<td valign="top">
      Kristin Hucek vs. Aaron Ballett vs. Aanchal Ramani
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6845">#8259, aired 2020-10-15</a>
</td>
<td valign="top">
      Kevin Walsh vs. Daniel Lee vs. Kristin Hucek
    </td>
<td class="left_padded" valign="top">
      Kevin Walsh game 6.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6844">#8258, aired 2020-10-14</a>
</td>
<td valign="top">
      Kevin Walsh vs. Elaine Zatarain vs. Jack Mooney
    </td>
<td class="left_padded" valign="top">
      Kevin Walsh game 5.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6843">#8257, aired 2020-10-13</a>
</td>
<td valign="top">
      Kevin Walsh vs. Alex Switzky vs. Natt Supab
    </td>
<td class="left_padded" valign="top">
      Kevin Walsh game 4.

Single-player Final Jeopardy!
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6842">#8256, aired 2020-10-12</a>
</td>
<td valign="top">
      Kevin Walsh vs. Michael Zannettis vs. Barbara Giesser
    </td>
<td class="left_padded" valign="top">
      Kevin Walsh game 3.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6841">#8255, aired 2020-10-09</a>
</td>
<td valign="top">
      Kevin Walsh vs. Brian Semel vs. Sabreena Merchant
    </td>
<td class="left_padded" valign="top">
      Kevin Walsh game 2.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6840">#8254, aired 2020-10-08</a>
</td>
<td valign="top">
      Garrett Marcotte vs. Kevin Walsh vs. Amy Judd Lieberman
    </td>
<td class="left_padded" valign="top">
      Kevin Walsh game 1.
    </td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6839">#8253, aired 2020-10-07</a>
</td>
<td valign="top">
      Garrett Marcotte vs. Sheldon Beverly vs. Holly McQuillan
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">
<a href="http://www.j-archive.com/showgame.php?game_id=6838">#8252, aired 2020-10-06</a>
</td>
<td valign="top">
      Garrett Marcotte vs. Claire-Marie Murphy vs. Mandy Friel
    </td>
<td class="left_padded" valign="top">
</td>
</tr>
<tr>
<td align="left" style="width:140px" valign="top">

In [43]:
season = soup.find('title').get_text()
#season = season.get_text()
#season
season = season.split('Season ')[1]
season

'37'

In [42]:
episodes = np.array([a['href'] for a in soup.findAll('a') if 'game_id' in a['href']])
episodes = pd.DataFrame(episodes)
episodes.columns = ['episode_url']
episodes['season'] = season
episodes

                                          episode_url season
0   http://www.j-archive.com/showgame.php?game_id=...     37
1   http://www.j-archive.com/showgame.php?game_id=...     37
2   http://www.j-archive.com/showgame.php?game_id=...     37
3   http://www.j-archive.com/showgame.php?game_id=...     37
4   http://www.j-archive.com/showgame.php?game_id=...     37
..                                                ...    ...
73  http://www.j-archive.com/showgame.php?game_id=...     37
74  http://www.j-archive.com/showgame.php?game_id=...     37
75  http://www.j-archive.com/showgame.php?game_id=...     37
76  http://www.j-archive.com/showgame.php?game_id=...     37
77  http://www.j-archive.com/showgame.php?game_id=...     37

[78 rows x 2 columns]

In [10]:
episodes.to_csv('data/j_episodes.csv', index=False)

## Episode Details

In [44]:
#response = requests.get('http://www.j-archive.com/showgame.php?game_id=6895')
#response = requests.get('http://www.j-archive.com/showgame.php?game_id=6893')
response = requests.get('http://www.j-archive.com/showgame.php?game_id=6378')

In [45]:
soup = BeautifulSoup(response.text)
#soup

In [46]:
header = soup.find('h1')
header = header.text
show_num = header.split('-')[0].strip().split('#')[1]
air_date = datetime.strftime(datetime.strptime(header.split('-')[1].strip().split(',',1)[1].strip(),'%B %d, %Y'), '%Y-%m-%d')
print(show_num, ', ', air_date)

8039 ,  2019-07-18

In [47]:
season = soup.find('a', text='[current season]')
print(season)
season = season['href'].split('=')[1]

<a href="http://www.j-archive.com/showseason.php?season=37">[current season]</a>

In [93]:
scores = soup.findAll(['h3','table'])
score_texts = np.array([['Scores at the end of the Jeopardy! Round:', 'J'],
                        ['Scores at the end of the Double Jeopardy! Round:', 'DJ'],
                        ['Final scores:', 'FJ']])
j_round = []
j_name = []
j_score = []
for x in score_texts:
    for element in scores:
        if element.text == x[0]:
            while element.name != 'table':
                element = element.next_sibling
                #print('name: ',element.name)
            score_table = element.findAll('tr')
            [j_round.append(x[1]) for td in score_table[0].findAll('td')]
            [j_name.append(td.text) for td in score_table[0].findAll('td')]
            [j_score.append(int(re.sub('[$,]', '', td.text))) for td in score_table[1].findAll('td')]

j_scores = pd.DataFrame({'show_num': show_num, 'round_code': j_round, 'contestant': j_name, 'score': j_score})
j_scores

  show_num round_code contestant  score
0     8039          J       Roey  11200
1     8039          J        Amy   3600
2     8039          J     Nathan   4400
3     8039         DJ       Roey  19600
4     8039         DJ        Amy   7200
5     8039         DJ     Nathan   9800
6     8039         FJ       Roey  19600
7     8039         FJ        Amy   9900
8     8039         FJ     Nathan  19600

In [95]:

remarks_text = 'Coryat scores:'
j_right = []
j_ddright = []
j_wrong = []
j_ddwrong = []
for element in scores:
    if element.text == remarks_text:
        while element.name != 'table':
            element = element.next_sibling
        remarks_table = element.findAll('td', class_ = 'score_remarks')
        [j_right.append((re.findall('(\d{1,2}) R', x.text.split(',')[0]) or list('0'))[0]) for x in remarks_table]
        [j_ddright.append((re.findall('(\d{1}) DD', x.text.split(',')[0]) or list('0'))[0]) for x in remarks_table]
        [j_wrong.append((re.findall('(\d{1,2}) W', x.text.split(',')[1]) or list('0'))[0]) for x in remarks_table]
        [j_ddwrong.append((re.findall('(\d{1}) DD', x.text.split(',')[1]) or list('0'))[0]) for x in remarks_table]

j_remarks = pd.DataFrame({'contestant': j_name[:3], 'num_right': j_right, 'num_ddright': j_ddright, 'num_wrong': j_wrong,
                         'num_ddwrong': j_ddwrong})
j_remarks[['num_right', 'num_ddright', 'num_wrong', 'num_ddwrong']] = j_remarks[['num_right', 'num_ddright', 'num_wrong', 'num_ddwrong']].apply(pd.to_numeric)

In [96]:
j_scores = j_scores.merge(j_remarks, how = 'left', on='contestant')
j_scores

,show_num,round_code,contestant,score,num_right,num_ddright,num_wrong,num_ddwrong
0,8039,J,Roey,11200,27,1,4,0
1,8039,J,Amy,3600,13,0,2,0
2,8039,J,Nathan,4400,12,1,2,1
3,8039,DJ,Roey,19600,27,1,4,0
4,8039,DJ,Amy,7200,13,0,2,0
5,8039,DJ,Nathan,9800,12,1,2,1
6,8039,FJ,Roey,19600,27,1,4,0
7,8039,FJ,Amy,9900,13,0,2,0
8,8039,FJ,Nathan,19600,12,1,2,1

In [86]:
j_scores[j_scores.round_code=='FJ'].sort_values(['score'], ascending = False)

,show_num,round_code,contestant,score,num_right,num_ddright,num_wrong,num_ddwrong
6,8039,FJ,Roey,19600,27,1,4,0
8,8039,FJ,Nathan,19600,12,1,2,1
7,8039,FJ,Amy,9900,13,0,2,0

In [97]:
#finish_order = j_scores[['contestant','score']][j_scores.round_code =='FJ']
#finish_order = finish_order.sort_values(['score'], ascending = False)
#finish_order
finish_order = []
winner = j_scores[j_scores.round_code=='FJ'].sort_values(['score'], ascending = False)['contestant'].iloc[0]
second = j_scores[j_scores.round_code=='FJ'].sort_values(['score'], ascending = False)['contestant'].iloc[1]
third = j_scores[j_scores.round_code=='FJ'].sort_values(['score'], ascending = False)['contestant'].iloc[2]
finish_order.append([winner, 'Winner'])
finish_order.append([second, 'Second'])
finish_order.append([third, 'Third'])
finish_order = pd.DataFrame(finish_order)
finish_order.columns=(['contestant', 'finish'])

j_scores = j_scores.merge(finish_order, how = 'left', on = 'contestant')
#j_scores.to_csv('data/j_scores.csv', index=False, header=False)

In [98]:
j_scores

,show_num,round_code,contestant,score,num_right,num_ddright,num_wrong,num_ddwrong,finish
0,8039,J,Roey,11200,27,1,4,0,Winner
1,8039,J,Amy,3600,13,0,2,0,Third
2,8039,J,Nathan,4400,12,1,2,1,Second
3,8039,DJ,Roey,19600,27,1,4,0,Winner
4,8039,DJ,Amy,7200,13,0,2,0,Third
5,8039,DJ,Nathan,9800,12,1,2,1,Second
6,8039,FJ,Roey,19600,27,1,4,0,Winner
7,8039,FJ,Amy,9900,13,0,2,0,Third
8,8039,FJ,Nathan,19600,12,1,2,1,Second

In [15]:
categories = soup.findAll('td', attrs = {'class': 'category_name'})

In [16]:
categories = np.array([x.text for x in categories])
#categories

In [17]:
rounds = []
[[rounds.append(item) for x in range(6)] for item in ['J', 'DJ']]
rounds.append('FJ')
rounds = np.array(rounds)
#rounds

In [18]:
catnums = np.array(['1', '2', '3', '4', '5', '6', '1', '2', '3', '4', '5', '6', '1'])
#catnums

In [19]:
categories = pd.DataFrame({'category': categories, 'round_code': rounds, 'cat_num': catnums})

In [20]:
categories['season'] = season
categories['show_num'] = show_num
categories['air_date'] = air_date
#categories

In [21]:
#split the results by the "clue" class
clues = soup.find_all('td', attrs = {'class': 'clue'})
#print(type(clues))
#print(type(soup))

In [22]:
all_rows = []
for clue in clues:
    #print(type(clue))
    new_row = []
    #Get our clue number, which tells us the round, category, and board position
    clue_id = clue.find('td', class_='clue_text')
    if not clue_id == None:
        #print(clue_id)
        clue_id = clue.find('td', class_='clue_text')['id']
        #What round is this?
        round_code = clue_id.split('_')[1]
        cat_num = clue_id.split('_')[2] if not round_code == 'FJ' else 'checkme'
        clue_num = clue_id.split('_')[3] if not round_code == 'FJ' else 'checkme'
        if not round_code == 'FJ':
            #Get our clue value
            #DD does not have a clue_value, it has a clue_value_daily_double
            #For DD split out the dollar value and set the flag
            clue_value = clue.find('td', class_='clue_value_daily_double').text.split(' ')[1] if not clue.find('td', {'class':'clue_value'}) else clue.find('td', {'class':'clue_value'}).text
            daily_double = False if not clue.find('td', class_='clue_value_daily_double') else True
            clue_order = clue.find('td', class_='clue_order_number').text
            clue_text = clue.find('td', class_='clue_text').text
            corr_resp = BeautifulSoup(clue.find('div', onmouseover=True).get('onmouseover'))
            #print(corr_resp)
            #Check for clues with no correct responder, and set the flag
            corr_respr1 = '' if not corr_resp.find('td', class_='right') else corr_resp.find('td', class_='right').text
            corr_FJ_wager1 = ''
            corr_respr2 = ''
            corr_FJ_wager2 = ''
            corr_respr3 = ''
            corr_FJ_wager3 = ''
            triple_stumper = True if not corr_resp.find('td', class_='right') else False
            incorr_resprs = corr_resp.findAll('td', class_='wrong')
            #Okay, THIS is ugly
            incorr_respr1 = ''
            incorr_FJ_wager1 = ''
            incorr_respr2 = ''
            incorr_FJ_wager2 = ''
            incorr_respr3 = ''
            incorr_FJ_wager3 = ''
            if len(incorr_resprs) >= 1:
                incorr_respr1 = '' if incorr_resprs[0].text == 'Triple Stumper' else incorr_resprs[0].text
            if len(incorr_resprs) >= 2:
                incorr_respr2 = '' if incorr_resprs[1].text == 'Triple Stumper' else incorr_resprs[1].text
            if len(incorr_resprs) == 3:
                incorr_respr3 = '' if incorr_resprs[2].text == 'Triple Stumper' else incorr_resprs[2].text
            corr_resp = corr_resp.find('em', class_='correct_response').text
            new_row = [round_code, cat_num, clue_num, clue_id, clue_value, daily_double, clue_order, clue_text, corr_resp, 
                       corr_respr1, corr_FJ_wager1, corr_respr2, corr_FJ_wager2, corr_respr3, corr_FJ_wager3, 
                       triple_stumper, incorr_respr1, incorr_FJ_wager1, incorr_respr2, incorr_FJ_wager2, incorr_respr3, incorr_FJ_wager3 ]
            all_rows.append(new_row)

In [23]:
all_rows

[['J',
  '1',
  '1',
  'clue_J_1_1',
  '$100',
  False,
  '25',
  'While in exile on the island of St. Helena from 1815-1821, he dictated his memoirs to friends',
  'Napoleon',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '1',
  'clue_J_2_1',
  '$100',
  False,
  '16',
  "He scored 12 career goals in World Cup competition; now he's Brazil's special minister for sports",
  'Pele',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '1',
  'clue_J_3_1',
  '$100',
  False,
  '6',
  'Waikiki is probably the most famous beach in this U.S. state',
  'Hawaii',
  'Soren',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '1',
  'clue_J_4_1',
  '$100',
  False,
  '1',
  'The phrase "fugit ireparabile tempus" has been shortened to just "tempus fugit" - this "flies"',
  'Time',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '1',
  'clue_J_5_1',
  '$100',
  False,
  '11',
  "Broken Hill, this country's largest company, took its name from a small town in New South Wales",
  'Australia',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '1',
  'clue_J_6_1',
  '$100',
  False,
  '26',
  'Leo I asserted that papal power was granted by Christ only to this man & his successors',
  'St. Peter',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '2',
  'clue_J_1_2',
  '$200',
  False,
  '21',
  'This grand duchy was founded in 963 when Siegfried, Count of Ardennes, gained control of the area',
  'Luxembourg',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '2',
  'clue_J_2_2',
  '$200',
  False,
  '17',
  "From 1987-1995, this German tennis star won 18 womens' singles Grand Slam tournaments",
  'Steffi Graf',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '2',
  'clue_J_3_2',
  '$200',
  False,
  '7',
  'Fans of Davy Crockett remember the Alamo is in San Antonio in this western state',
  'Texas',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '2',
  'clue_J_4_2',
  '$200',
  False,
  '2',
  'Latin title of the Christmas hymn "O Come All Ye Faithful"',
  '"Adeste Fideles"',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '2',
  'clue_J_5_2',
  '$200',
  False,
  '12',
  'This largest European tire maker is headquartered in Clermont-Ferrand, France',
  'Michelin',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  'Soren',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '2',
  'clue_J_6_2',
  '$200',
  False,
  '27',
  "During Leo IX's reign, they became important papal counselors; soon, they formed a sacred college",
  'cardinals',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '3',
  'clue_J_1_3',
  '$300',
  False,
  '22',
  "The treaties ending the Seven Years', Crimean & Spanish-American Wars were signed in this city",
  'Paris',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Mandi',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '3',
  'clue_J_2_3',
  '$300',
  False,
  '18',
  "Other than the Olympics, this Romanian's only World Gymnastics Championship came in 1978 on the balance beam",
  'Nadia Comaneci',
  'Soren',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '3',
  'clue_J_3_3',
  '$300',
  False,
  '8',
  'The French Quarter of this Louisiana city is world-famous for its nightlife',
  'New Orleans',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '3',
  'clue_J_4_3',
  '$300',
  False,
  '3',
  'It literally means "in glass" & is where some fertilizations occur',
  'In Vitro',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '3',
  'clue_J_5_3',
  '$300',
  False,
  '13',
  'Comau, a subsidiary of this Italian company, makes the robots that build its cars',
  'Fiat',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '4',
  'clue_J_1_4',
  '$400',
  False,
  '23',
  'Except for a brief time, this birthplace of Christopher Columbus was ruled by a doge from 1339-1797',
  'Genoa',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  'Mandi',
  '',
  'Soren',
  '',
  '',
  ''],
 ['J',
  '2',
  '4',
  'clue_J_2_4',
  '$400',
  False,
  '19',
  'In the 1980s, this Spaniard became the youngest golfer to win the Masters & helped Europe win 3 Ryder Cups',
  'Seve Ballesteros',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '4',
  'clue_J_3_4',
  '$400',
  False,
  '9',
  "When visiting this California city, take a cable car to Fisherman's Wharf",
  'San Francisco',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '4',
  'clue_J_4_4',
  '$400',
  False,
  '4',
  'It\'s the opposite of "malafide"',
  'Bonafide',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '4',
  'clue_J_5_4',
  '$400',
  False,
  '14',
  "Johnson & Johnson owns Acuvue, the world's leading disposable brand of these",
  'Contact Lenses',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '5',
  'clue_J_1_5',
  '$800',
  True,
  '24',
  "From 930-1262, this country's Althing served as both court & legislature",
  'Iceland',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Tom',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '5',
  'clue_J_2_5',
  '$500',
  False,
  '20',
  'Jacky Ickx has won this 24-hour French auto race a record 6 times',
  '24 Hours of Le Mans',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '5',
  'clue_J_3_5',
  '$500',
  False,
  '10',
  'The Cherry Blossom Parade is a highlight of the National Cherry Blossom Festival in this city',
  'Washington, D.C.',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '5',
  'clue_J_4_5',
  '$500',
  False,
  '5',
  'The period before this event is called ante-partum',
  'childbirth',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Mandi',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '5',
  'clue_J_5_5',
  '$500',
  False,
  '15',
  'Phil Knight, founder of this Oregon-based athletic shoe company, owns about 35% of its stock',
  'Nike',
  'Soren',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '1',
  'clue_DJ_1_1',
  '$200',
  False,
  '11',
  'Polonius tells Hamlet he once played this role in a play, and Brutus killed him',
  'Julius Caesar',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '1',
  'clue_DJ_2_1',
  '$200',
  False,
  '8',
  "Any point on the Earth's equator moves at a thousand miles per hour; any point on this largest planet's, at 22,000 miles per hour",
  'Jupiter',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '1',
  'clue_DJ_3_1',
  '$200',
  False,
  '2',
  "He's three years younger than his sister, Shirley McLaine",
  'Warren Beatty',
  'Soren',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '1',
  'clue_DJ_4_1',
  '$200',
  False,
  '19',
  'This South American country is over 10 times as long as it is wide',
  'Chile',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '1',
  'clue_DJ_5_1',
  '$200',
  False,
  '1',
  'In "The Descent of Man", this naturalist wrote, "I would have soon been descended from that heroic little monkey"',
  'Charles Darwin',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  'Soren',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '1',
  'clue_DJ_6_1',
  '$200',
  False,
  '26',
  'After  a 5-year tenure, this Polish president was defeated for re-election in 1995',
  'Lech Walesa',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '2',
  'clue_DJ_1_2',
  '$400',
  False,
  '15',
  'Her dying words are "O Antony, nay I will take thee to;  what, should I stay?"',
  'Cleopatra',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '2',
  'clue_DJ_2_2',
  '$400',
  False,
  '10',
  'The Maxwell Montes region contains the highest point on this planet, the third brightest object in the sky',
  'Venus',
  'Soren',
  '',
  '',
  '',
  '',
  '',
  False,
  'Tom',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '2',
  'clue_DJ_3_2',
  '$400',
  False,
  '3',
  'He danced around in his underwear to "That Old Time Rock n\' Roll" in the 1983 hit "Risky Business"',
  'Tom Cruise',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '2',
  'clue_DJ_4_2',
  '$3,000',
  True,
  '21',
  'The Judeo-Galilean Highlands are one of four major land divisions of this country',
  'Israel',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Mandi',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '2',
  'clue_DJ_5_2',
  '$400',
  False,
  '7',
  'This boxer\'s slogan, "I Am The Greatest", was inspired by wrestler Gorgeous George',
  'Muhammad Ali',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '2',
  'clue_DJ_6_2',
  '$400',
  False,
  '27',
  'He was recently voted in as president of the new self-rule Palestinian government',
  'Yasser Arafat',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '3',
  'clue_DJ_1_3',
  '$600',
  False,
  '16',
  'He tells his daughter Cordelia "I fear I am not in my perfect mind"',
  'King Lear',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '3',
  'clue_DJ_2_3',
  '$600',
  False,
  '13',
  'During a total eclipse of the sun, this outermost layer of the sun remains visible',
  'Corona',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '3',
  'clue_DJ_3_3',
  '$600',
  False,
  '4',
  'She married Paul Newman in 1958, the year they starred in their first film together, "The Long Hot Summer"',
  'Joanne Woodward',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '3',
  'clue_DJ_4_3',
  '$600',
  False,
  '22',
  'Khartoum is the capital of this largest African nation',
  'Sudan',
  'Soren',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '3',
  'clue_DJ_5_3',
  '$600',
  False,
  '9',
  'James Joyce called this country, his homeland, "The Old Sow that Eats Her Farrow"',
  'Ireland',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '3',
  'clue_DJ_6_3',
  '$600',
  False,
  '28',
  "Once sentenced to life imprisonment, he was elected South Africa's first black leader in 1994",
  'Nelson Mandela',
  'Soren',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '4',
  'clue_DJ_1_4',
  '$800',
  False,
  '17',
  'The 2 titled ladies in the cast of "Macbeth" are Lady Macbeth & her',
  'Lady Macduff',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '4',
  'clue_DJ_2_4',
  '$800',
  False,
  '20',
  'This British observatory was completed in 1676 from plans prepared by Christopher Wren',
  'Greenwich',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '4',
  'clue_DJ_3_4',
  '$800',
  False,
  '5',
  'This star of "East of Eden" & "Rebel Without A Cause" was only 24 when he died in a 1955 car crash',
  'James Dean',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '4',
  'clue_DJ_4_4',
  '$800',
  False,
  '23',
  'The largest ethnic groups living in this island country are the Sinhalese & the Tamils',
  'Sri Lanka',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '4',
  'clue_DJ_5_4',
  '$800',
  False,
  '12',
  'By Article II of this U.S. document,  treaties are made with the advice & consent of the Senate',
  'The Constitution',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '4',
  'clue_DJ_6_4',
  '$800',
  False,
  '29',
  'After 18 years in exile, he returned to Argentina in 1973',
  'Juan Perón',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Soren',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '5',
  'clue_DJ_1_5',
  '$1000',
  False,
  '18',
  'In "A Midsummer Night\'s Dream", Theseus, Duke of Athens, is engaged to this queen of the Amazons',
  'Hippolyta',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '5',
  'clue_DJ_2_5',
  '$1000',
  False,
  '25',
  'This constellation, "The Hunter", is found between Taurus, the bull, & Monoceros, the unicorn',
  'Orion',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '5',
  'clue_DJ_3_5',
  '$1000',
  False,
  '6',
  "Norma Jean Baker's name was changed to this, after she signed a contract with 20th Century Fox in 1946",
  'Marilyn Monroe',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '5',
  'clue_DJ_4_5',
  '$1000',
  False,
  '24',
  "Timor is the largest of this country's Lesser Sunda Islands; Bali is one of the smaller ones",
  'Indonesia',
  'Tom',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '5',
  'clue_DJ_5_5',
  '$1000',
  False,
  '14',
  'In "Paradise Lost", he wrote of "things unattempted yet in prose or rhyme"',
  'John Milton',
  'Mandi',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '5',
  'clue_DJ_6_5',
  '$1,100',
  True,
  '30',
  'In failing health, he resigned as Greek premier in January of 1996',
  'Andreas Papandreou',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Soren',
  '',
  '',
  '',
  '',
  '']]

In [24]:
round_code = 'FJ'
cat_num = '1'
clue_num = '1'
clue_id = 'clue_FJ'
clue_value = ''
daily_double = False
clue_order = ''
clue_text = ''
corr_resp = ''
triple_stumper = True

final_round = soup.find('table', class_ = 'final_round').find_all('td')
#type(final_round)
#final_round - this will absolutely barf and so will a print; it gives a type error

for item in final_round:
    #this only works because it's the first item! aaargh
    stats = BeautifulSoup(item.find('div', onmouseover=True).get('onmouseover'))
    if stats:
        break
corr_resp = stats.find('em')
corr_resp = corr_resp.get_text()

#make a dictionary of responders
resprs = {}
wagers = stats.findAll('td')

right = 0
wrong = 0
for td in wagers:
    td_text = td.get_text()
    if td.has_attr('class'):
        td_class = td.get('class')[0]
        if td_class == 'right':
            triple_stumper = False
            right +=1
            key_name = 'corr_respr' + str(right)
            resprs[key_name] = td_text
            wager_key = 'corr_FJ_wager' + str(right)
        else:
            wrong +=1
            key_name = 'incorr_respr' + str(wrong)
            resprs[key_name] = td_text
            wager_key = 'incorr_FJ_wager' + str(wrong)
    if td.has_attr('rowspan'):
        continue
    if not td.has_attr('class'):
        resprs[wager_key] = td_text
        
corr_respr1 = resprs.get('corr_respr1', '')
corr_FJ_wager1 = resprs.get('corr_FJ_wager1', '')
corr_respr2 = resprs.get('corr_respr2', '')
corr_FJ_wager2 = resprs.get('corr_FJ_wager2', '')
corr_respr3 = resprs.get('corr_respr3', '')
corr_FJ_wager3 = resprs.get('corr_FJ_wager3', '')
incorr_respr1 = resprs.get('incorr_respr1','')
incorr_FJ_wager1 = resprs.get('incorr_FJ_wager1', '')
incorr_respr2 = resprs.get('incorr_respr2','')
incorr_FJ_wager2 = resprs.get('incorr_FJ_wager2', '')
incorr_respr3 = resprs.get('incorr_respr3','')
incorr_FJ_wager3 = resprs.get('incorr_FJ_wager3', '')

clue_text = soup.find('td', attrs = {'class': 'clue_text', 'id': 'clue_FJ'})
clue_text = clue_text.get_text()
#print(clue_text)

new_row = [round_code, cat_num, clue_num, clue_id, clue_value, daily_double, clue_order, clue_text, corr_resp, 
                   corr_respr1, corr_FJ_wager1, corr_respr2, corr_FJ_wager2, corr_respr3, corr_FJ_wager3, 
                   triple_stumper, incorr_respr1, incorr_FJ_wager1, incorr_respr2, incorr_FJ_wager2, incorr_respr3, incorr_FJ_wager3]
all_rows.append(new_row)

In [25]:
this_show = pd.DataFrame(all_rows)
this_show.columns = ['round_code', 'cat_num', 'clue_num', 'clue_id', 'clue_value', 'daily_double', 'clue_order', 'clue_text', 'corr_resp', 
                   'corr_respr1', 'corr_FJ_wager1', 'corr_respr2', 'corr_FJ_wager2', 'corr_respr3', 'corr_FJ_wager3', 
                   'triple_stumper', 'incorr_respr1', 'incorr_FJ_wager1', 'incorr_respr2', 'incorr_FJ_wager2', 'incorr_respr3', 'incorr_FJ_wager3']
this_show = this_show.merge(categories, how='left', left_on=['round_code', 'cat_num'], right_on=['round_code', 'cat_num'])
this_show

,round_code,cat_num,clue_num,clue_id,clue_value,daily_double,clue_order,clue_text,corr_resp,corr_respr1,...,incorr_respr1,incorr_FJ_wager1,incorr_respr2,incorr_FJ_wager2,incorr_respr3,incorr_FJ_wager3,category,season,show_num,air_date
0,J,1,1,clue_J_1_1,$100,False,25,While in exile on the island of St. Helena fro...,Napoleon,Mandi,...,,,,,,,EUROPEAN HISTORY,37,2752,1996-07-16
1,J,2,1,clue_J_2_1,$100,False,16,He scored 12 career goals in World Cup competi...,Pele,Mandi,...,,,,,,,SPORTS,37,2752,1996-07-16
2,J,3,1,clue_J_3_1,$100,False,6,Waikiki is probably the most famous beach in t...,Hawaii,Soren,...,,,,,,,TRAVEL U.S.A.,37,2752,1996-07-16
3,J,4,1,clue_J_4_1,$100,False,1,"The phrase ""fugit ireparabile tempus"" has been...",Time,Tom,...,,,,,,,LATIN WORDS & PHRASES,37,2752,1996-07-16
4,J,5,1,clue_J_5_1,$100,False,11,"Broken Hill, this country's largest company, t...",Australia,Tom,...,,,,,,,BUSINESS & INDUSTRY,37,2752,1996-07-16
5,J,6,1,clue_J_6_1,$100,False,26,Leo I asserted that papal power was granted by...,St. Peter,Tom,...,,,,,,,POPES NAMED LEO,37,2752,1996-07-16
6,J,1,2,clue_J_1_2,$200,False,21,This grand duchy was founded in 963 when Siegf...,Luxembourg,Mandi,...,,,,,,,EUROPEAN HISTORY,37,2752,1996-07-16
7,J,2,2,clue_J_2_2,$200,False,17,"From 1987-1995, this German tennis star won 18...",Steffi Graf,Mandi,...,,,,,,,SPORTS,37,2752,1996-07-16
8,J,3,2,clue_J_3_2,$200,False,7,Fans of Davy Crockett remember the Alamo is in...,Texas,Tom,...,,,,,,,TRAVEL U.S.A.,37,2752,1996-07-16
9,J,4,2,clue_J_4_2,$200,False,2,"Latin title of the Christmas hymn ""O Come All ...","""Adeste Fideles""",Mandi,...,,,,,,,LATIN WORDS & PHRASES,37,2752,1996-07-16
10,J,5,2,clue_J_5_2,$200,False,12,This largest European tire maker is headquarte...,Michelin,Mandi,...,Soren,,,,,,BUSINESS & INDUSTRY,37,2752,1996-07-16
11,J,6,2,clue_J_6_2,$200,False,27,"During Leo IX's reign, they became important p...",cardinals,Mandi,...,,,,,,,POPES NAMED LEO,37,2752,1996-07-16
12,J,1,3,clue_J_1_3,$300,False,22,"The treaties ending the Seven Years', Crimean ...",Paris,,...,Mandi,,,,,,EUROPEAN HISTORY,37,2752,1996-07-16
13,J,2,3,clue_J_2_3,$300,False,18,"Other than the Olympics, this Romanian's only ...",Nadia Comaneci,Soren,...,,,,,,,SPORTS,37,2752,1996-07-16
14,J,3,3,clue_J_3_3,$300,False,8,The French Quarter of this Louisiana city is w...,New Orleans,Mandi,...,,,,,,,TRAVEL U.S.A.,37,2752,1996-07-16
15,J,4,3,clue_J_4_3,$300,False,3,"It literally means ""in glass"" & is where some ...",In Vitro,Tom,...,,,,,,,LATIN WORDS & PHRASES,37,2752,1996-07-16
16,J,5,3,clue_J_5_3,$300,False,13,"Comau, a subsidiary of this Italian company, m...",Fiat,Mandi,...,,,,,,,BUSINESS & INDUSTRY,37,2752,1996-07-16
17,J,1,4,clue_J_1_4,$400,False,23,"Except for a brief time, this birthplace of Ch...",Genoa,Tom,...,Mandi,,Soren,,,,EUROPEAN HISTORY,37,2752,1996-07-16
18,J,2,4,clue_J_2_4,$400,False,19,"In the 1980s, this Spaniard became the younges...",Seve Ballesteros,Tom,...,,,,,,,SPORTS,37,2752,1996-07-16
19,J,3,4,clue_J_3_4,$400,False,9,"When visiting this California city, take a cab...",San Francisco,Tom,...,,,,,,,TRAVEL U.S.A.,37,2752,1996-07-16
20,J,4,4,clue_J_4_4,$400,False,4,"It's the opposite of ""malafide""",Bonafide,Tom,...,,,,,,,LATIN WORDS & PHRASES,37,2752,1996-07-16
21,J,5,4,clue_J_5_4,$400,False,14,"Johnson & Johnson owns Acuvue, the world's lea...",Contact Lenses,Mandi,...,,,,,,,BUSINESS & INDUSTRY,37,2752,1996-07-16
22,J,1,5,clue_J_1_5,$800,True,24,"From 930-1262, this country's Althing served a...",Iceland,,...,Tom,,,,,,EUROPEAN HISTORY,37,2752,1996-07-16
23,J,2,5,clue_J_2_5,$500,False,20,Jacky Ickx has won this 24-hour French auto ra...,24 Hours of Le Mans,Mandi,...,,,,,,,SPORTS,37,2752,1996-07-16
24,J,3,5,clue_J_3_5,$500,False,10,The Cherry Blossom Parade is a highlight of th...,"Washington, D.C.",,...,,,,,,,TRAVEL U.S.A.,37,2752,1996-07-16
25,J,4,5,clue_J_4_5,$500,False,5,The period before this event is called ante-pa...,childbirth,,...,Mandi,,,,,,LATIN WORDS & PHRASES,37,2752,1996-07-16
26,J,5,5,clue_J_5_5,$500,False,15,"Phil Knight, founder of this Oregon-based athl...",Nike,Soren,...,,,,,,,BUSINESS & INDUSTRY,37,2752,1996-07-16
27,DJ,1,1,clue_DJ_1_1,$200,False,11,Polonius tells Hamlet he once played this role...,Julius Caesar,Mandi,...,,,,,,,SHAKESPEARE,37,2752,1996-07-16
28,DJ,2,1,clue_DJ_2_1,$200,False,8,Any point on the Earth's equator moves at a th...,Jupiter,Mandi,...,,,,,,,ASTRONOMY,37,2752,1996-07-16
29,DJ,3,1,clue_DJ_3_1,$200,False,2,"He's three years younger than his sister, Shir...",Warren Beatty,Soren,...,,,,,,,AMERICAN MOVIE STARS,37,2752,1996-07-16
30,DJ,4,1,clue_DJ_4_1,$200,False,19,This South American country is over 10 times a...,Chile,Tom,...,,,,,,,COUNTRIES OF THE WORLD,37,2752,1996-07-16
31,DJ,5,1,clue_DJ_5_1,$200,False,1,"In ""The Descent of Man"", this naturalist wrote...",Charles Darwin,Mandi,...,Soren,,,,,,QUOTATIONS,37,2752,1996-07-16
32,DJ,6,1,clue_DJ_6_1,$200,False,26,"After a 5-year tenure, this Polish president ...",Lech Walesa,Mandi,...,,,,,,,WORLD LEADERS,37,2752,1996-07-16
33,DJ,1,2,clue_DJ_1_2,$400,False,15,"Her dying words are ""O Antony, nay I will take...",Cleopatra,Mandi,...,,,,,,,SHAKESPEARE,37,2752,1996-07-16
34,DJ,2,2,clue_DJ_2_2,$400,False,10,The Maxwell Montes region contains the highest...,Venus,Soren,...,Tom,,,,,,ASTRONOMY,37,2752,1996-07-16
35,DJ,3,2,clue_DJ_3_2,$400,False,3,"He danced around in his underwear to ""That Old...",Tom Cruise,Mandi,...,,,,,,,AMERICAN MOVIE STARS,37,2752,1996-07-16
36,DJ,4,2,clue_DJ_4_2,"$3,000",True,21,The Judeo-Galilean Highlands are one of four m...,Israel,,...,Mandi,,,,,,COUNTRIES OF THE WORLD,37,2752,1996-07-16
37,DJ,5,2,clue_DJ_5_2,$400,False,7,"This boxer's slogan, ""I Am The Greatest"", was ...",Muhammad Ali,Tom,...,,,,,,,QUOTATIONS,37,2752,1996-07-16
38,DJ,6,2,clue_DJ_6_2,$400,False,27,He was recently voted in as president of the n...,Yasser Arafat,Tom,...,,,,,,,WORLD LEADERS,37,2752,1996-07-16
39,DJ,1,3,clue_DJ_1_3,$600,False,16,"He tells his daughter Cordelia ""I fear I am no...",King Lear,Mandi,...,,,,,,,SHAKESPEARE,37,2752,1996-07-16
40,DJ,2,3,clue_DJ_2_3,$600,False,13,"During a total eclipse of the sun, this outerm...",Corona,Mandi,...,,,,,,,ASTRONOMY,37,2752,1996-07-16
41,DJ,3,3,clue_DJ_3_3,$600,False,4,"She married Paul Newman in 1958, the year they...",Joanne Woodward,Mandi,...,,,,,,,AMERICAN MOVIE STARS,37,2752,1996-07-16
42,DJ,4,3,clue_DJ_4_3,$600,False,22,Khartoum is the capital of this largest Africa...,Sudan,Soren,...,,,,,,,COUNTRIES OF THE WORLD,37,2752,1996-07-16
43,DJ,5,3,clue_DJ_5_3,$600,False,9,"James Joyce called this country, his homeland,...",Ireland,Tom,...,,,,,,,QUOTATIONS,37,2752,1996-07-16
44,DJ,6,3,clue_DJ_6_3,$600,False,28,"Once sentenced to life imprisonment, he was el...",Nelson Mandela,Soren,...,,,,,,,WORLD LEADERS,37,2752,1996-07-16
45,DJ,1,4,clue_DJ_1_4,$800,False,17,"The 2 titled ladies in the cast of ""Macbeth"" a...",Lady Macduff,,...,,,,,,,SHAKESPEARE,37,2752,1996-07-16
46,DJ,2,4,clue_DJ_2_4,$800,False,20,This British observatory was completed in 1676...,Greenwich,Mandi,...,,,,,,,ASTRONOMY,37,2752,1996-07-16
47,DJ,3,4,clue_DJ_3_4,$800,False,5,"This star of ""East of Eden"" & ""Rebel Without A...",James Dean,Tom,...,,,,,,,AMERICAN MOVIE STARS,37,2752,1996-07-16
48,DJ,4,4,clue_DJ_4_4,$800,False,23,The largest ethnic groups living in this islan...,Sri Lanka,Mandi,...,,,,,,,COUNTRIES OF THE WORLD,37,2752,1996-07-16
49,DJ,5,4,clue_DJ_5_4,$800,False,12,"By Article II of this U.S. document, treaties...",The Constitution,Tom,...,,,,,,,QUOTATIONS,37,2752,1996-07-16
50,DJ,6,4,clue_DJ_6_4,$800,False,29,"After 18 years in exile, he returned to Argent...",Juan Perón,,...,Soren,,,,,,WORLD LEADERS,37,2752,1996-07-16
51,DJ,1,5,clue_DJ_1_5,$1000,False,18,"In ""A Midsummer Night's Dream"", Theseus, Duke ...",Hippolyta,,...,,,,,,,SHAKESPEARE,37,2752,1996-07-16
52,DJ,2,5,clue_DJ_2_5,$1000,False,25,"This constellation, ""The Hunter"", is found bet...",Orion,Mandi,...,,,,,,,ASTRONOMY,37,2752,1996-07-16
53,DJ,3,5,clue_DJ_3_5,$1000,False,6,"Norma Jean Baker's name was changed to this, a...",Marilyn Monroe,Mandi,...,,,,,,,AMERICAN MOVIE STARS,37,2752,1996-07-16
54,DJ,4,5,clue_DJ_4_5,$1000,False,24,Timor is the largest of this country's Lesser ...,Indonesia,Tom,...,,,,,,,COUNTRIES OF THE WORLD,37,2752,1996-07-16
55,DJ,5,5,clue_DJ_5_5,$1000,False,14,"In ""Paradise Lost"", he wrote of ""things unatte...",John Milton,Mandi,...,,,,,,,QUOTATIONS,37,2752,1996-07-16
56,DJ,6,5,clue_DJ_6_5,"$1,100",True,30,"In failing health, he resigned as Greek premie...",Andreas Papandreou,,...,Soren,,,,,,WORLD LEADERS,37,2752,1996-07-16
57,FJ,1,1,clue_FJ,,False,,"This Catalonian city, once the capital of the ...",Barcelona,Tom,...,,,,,,,SPAIN,37,2752,1996-07-16

In [26]:
this_show.to_csv('data/j_clues01.csv', index=False)

In [ ]:
#this_show.to_csv('data/j_clues.csv', mode='a', index=False, header=False)

https://github.com/whymarrh/jeopardy-parser/blob/master/parser.py