In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from datetime import datetime

Proposed Datasets
Show Info:
Season
Episode
Air date
Contestant 1
Contestant 2
Contestant 3
Returning Contestant

Show Details:
Episode
Round
Category
Clue
Value
Clue Order
Correct Response
Correct Responder
Incorrect Response 1
Incorrect Responder 1
Incorrect Response 2
Incorrect Responder 2
Incorrect Response 3
Incorrect Responder 3
Daily Double
Wager

Show Statistics:
J Round Score C1
J Round Score C2
J Round Score C3
DJ Round Score C1
DJ Round Score C2
DJ Round Score C3
FJ Wager C1
FJ Wager C2
FJ Wager C3
FJ Round Score C1
FJ Round Score C2
FJ Round Score C3

All Jeopardy! seasons:
http://www.j-archive.com/listseasons.php

## Season List

In [2]:
response = requests.get('http://www.j-archive.com/listseasons.php')

In [3]:
soup = BeautifulSoup(response.text)
#soup

In [5]:
season_urls = np.array(['http://www.j-archive.com/' + a['href'] for a in soup.findAll('a') 
                    if 'showseason' in a['href'] and 'http' not in a['href']])
#season_urls

In [6]:
seasons = pd.DataFrame(season_urls)
seasons.columns = ['season_url']
#seasons
seasons.to_csv('data/j_seasons.csv', index=False)

## Episode List

In [7]:
response = requests.get('http://www.j-archive.com/showseason.php?season=37')

In [8]:
soup = BeautifulSoup(response.text)
#soup

In [9]:
episodes = np.array([a['href'] for a in soup.findAll('a') if 'game_id' in a['href']])
episodes = pd.DataFrame(episodes)
episodes.columns = ['episode_url']

In [10]:
episodes.to_csv('data/j_episodes.csv', index=False)

## Episode Details

In [34]:
#response = requests.get('http://www.j-archive.com/showgame.php?game_id=6895')
#response = requests.get('http://www.j-archive.com/showgame.php?game_id=6893')
response = requests.get('http://www.j-archive.com/showgame.php?game_id=6880')

In [35]:
soup = BeautifulSoup(response.text)
#soup

In [36]:
header = soup.find('h1')
header = header.text
show_num = header.split('-')[0].strip().split('#')[1]
air_date = datetime.strftime(datetime.strptime(header.split('-')[1].strip().split(',',1)[1].strip(),'%B %d, %Y'), '%Y-%m-%d')
#print(show_num, ', ', air_date)

In [37]:
season = soup.find('a', text='[current season]')
print(season)
season = season['href'].split('=')[1]

<a href="http://www.j-archive.com/showseason.php?season=37">[current season]</a>

In [38]:
scores = soup.findAll(['h3','table'])
score_texts = np.array([['Scores at the end of the Jeopardy! Round:', 'J'],
                        ['Scores at the end of the Double Jeopardy! Round:', 'DJ'],
                        ['Final scores:', 'FJ']])
j_round = []
j_name = []
j_score = []
for x in score_texts:
    for element in scores:
        if element.text == x[0]:
            while element.name != 'table':
                element = element.next_sibling
                #print('name: ',element.name)
            score_table = element.findAll('tr')
            [j_round.append(x[1]) for td in score_table[0].findAll('td')]
            [j_name.append(td.text) for td in score_table[0].findAll('td')]
            [j_score.append(td.text) for td in score_table[1].findAll('td')]

j_scores = pd.DataFrame({'show_num': show_num, 'round_code': j_round, 'contestant': j_name, 'score': j_score})
j_scores

  show_num round_code contestant    score
0     8290          J       Ryan   $4,800
1     8290          J    Gabriel   $3,200
2     8290          J     Chandy    -$200
3     8290         DJ       Ryan  $19,400
4     8290         DJ    Gabriel  $14,700
5     8290         DJ     Chandy  $12,600
6     8290         FJ       Ryan  $29,401
7     8290         FJ    Gabriel       $2
8     8290         FJ     Chandy   $8,200

In [39]:
remarks_text = 'Coryat scores:'
j_right = []
j_ddright = []
j_wrong = []
j_ddwrong = []
for element in scores:
    if element.text == remarks_text:
        while element.name != 'table':
            element = element.next_sibling
        remarks_table = element.findAll('td', class_ = 'score_remarks')
        [j_right.append((re.findall('(\d{1,2}) R', x.text.split(',')[0]) or list('0'))[0]) for x in remarks_table]
        [j_ddright.append((re.findall('(\d{1}) DD', x.text.split(',')[0]) or list('0'))[0]) for x in remarks_table]
        [j_wrong.append((re.findall('(\d{1,2}) W', x.text.split(',')[1]) or list('0'))[0]) for x in remarks_table]
        [j_ddwrong.append((re.findall('(\d{1}) DD', x.text.split(',')[1]) or list('0'))[0]) for x in remarks_table]

j_remarks = pd.DataFrame({'contestant': j_name[:3], 'num_right': j_right, 'num_ddright': j_ddright, 'num_wrong': j_wrong,
                         'num_ddwrong': j_ddwrong})
#j_remarks

In [40]:
j_scores = j_scores.merge(j_remarks, how = 'left', on='contestant')
#j_scores

In [55]:
finish_order = []
winner = j_scores[j_scores.round_code=='FJ'].sort_values(['score'], ascending = False)['contestant'].iloc[0]
second = j_scores[j_scores.round_code=='FJ'].sort_values(['score'], ascending = False)['contestant'].iloc[1]
third = j_scores[j_scores.round_code=='FJ'].sort_values(['score'], ascending = False)['contestant'].iloc[2]
finish_order.append([winner, 'Winner'])
finish_order.append([second, 'Second'])
finish_order.append([third, 'Third'])
finish_order = pd.DataFrame(finish_order)
finish_order.columns=(['contestant', 'finish'])
j_scores = j_scores.merge(finish_order, how = 'left', on = 'contestant')
j_scores.to_csv('data/j_scores.csv', index=False, header=False)

In [54]:
#j_scores

,show_num,round_code,contestant,score,num_right,num_ddright,num_wrong,num_ddwrong,finish
0,8290,J,Ryan,"$4,800",16,1,1,0,Second
1,8290,J,Gabriel,"$3,200",26,1,6,1,Third
2,8290,J,Chandy,-$200,10,0,1,0,Winner
3,8290,DJ,Ryan,"$19,400",16,1,1,0,Second
4,8290,DJ,Gabriel,"$14,700",26,1,6,1,Third
5,8290,DJ,Chandy,"$12,600",10,0,1,0,Winner
6,8290,FJ,Ryan,"$29,401",16,1,1,0,Second
7,8290,FJ,Gabriel,$2,26,1,6,1,Third
8,8290,FJ,Chandy,"$8,200",10,0,1,0,Winner

In [42]:
categories = soup.findAll('td', attrs = {'class': 'category_name'})

In [43]:
categories = np.array([x.text for x in categories])
#categories

In [44]:
rounds = []
[[rounds.append(item) for x in range(6)] for item in ['J', 'DJ']]
rounds.append('FJ')
rounds = np.array(rounds)
#rounds

In [45]:
catnums = np.array(['1', '2', '3', '4', '5', '6', '1', '2', '3', '4', '5', '6', '1'])
#catnums

In [46]:
categories = pd.DataFrame({'category': categories, 'round_code': rounds, 'cat_num': catnums})

In [47]:
categories['season'] = season
categories['show_num'] = show_num
categories['air_date'] = air_date
#categories

In [48]:
#split the results by the "clue" class
clues = soup.find_all('td', attrs = {'class': 'clue'})
#print(type(clues))
#print(type(soup))

In [49]:
all_rows = []
for clue in clues:
    #print(type(clue))
    new_row = []
    #Get our clue number, which tells us the round, category, and board position
    clue_id = clue.find('td', class_='clue_text')
    if not clue_id == None:
        #print(clue_id)
        clue_id = clue.find('td', class_='clue_text')['id']
        #What round is this?
        round_code = clue_id.split('_')[1]
        cat_num = clue_id.split('_')[2] if not round_code == 'FJ' else 'checkme'
        clue_num = clue_id.split('_')[3] if not round_code == 'FJ' else 'checkme'
        if not round_code == 'FJ':
            #Get our clue value
            #DD does not have a clue_value, it has a clue_value_daily_double
            #For DD split out the dollar value and set the flag
            clue_value = clue.find('td', class_='clue_value_daily_double').text.split(' ')[1] if not clue.find('td', {'class':'clue_value'}) else clue.find('td', {'class':'clue_value'}).text
            daily_double = False if not clue.find('td', class_='clue_value_daily_double') else True
            clue_order = clue.find('td', class_='clue_order_number').text
            clue_text = clue.find('td', class_='clue_text').text
            corr_resp = BeautifulSoup(clue.find('div', onmouseover=True).get('onmouseover'))
            #print(corr_resp)
            #Check for clues with no correct responder, and set the flag
            corr_respr1 = '' if not corr_resp.find('td', class_='right') else corr_resp.find('td', class_='right').text
            corr_FJ_wager1 = ''
            corr_respr2 = ''
            corr_FJ_wager2 = ''
            corr_respr3 = ''
            corr_FJ_wager3 = ''
            triple_stumper = True if not corr_resp.find('td', class_='right') else False
            incorr_resprs = corr_resp.findAll('td', class_='wrong')
            #Okay, THIS is ugly
            incorr_respr1 = ''
            incorr_FJ_wager1 = ''
            incorr_respr2 = ''
            incorr_FJ_wager2 = ''
            incorr_respr3 = ''
            incorr_FJ_wager3 = ''
            if len(incorr_resprs) >= 1:
                incorr_respr1 = '' if incorr_resprs[0].text == 'Triple Stumper' else incorr_resprs[0].text
            if len(incorr_resprs) >= 2:
                incorr_respr2 = '' if incorr_resprs[1].text == 'Triple Stumper' else incorr_resprs[1].text
            if len(incorr_resprs) == 3:
                incorr_respr3 = '' if incorr_resprs[2].text == 'Triple Stumper' else incorr_resprs[2].text
            corr_resp = corr_resp.find('em', class_='correct_response').text
            new_row = [round_code, cat_num, clue_num, clue_id, clue_value, daily_double, clue_order, clue_text, corr_resp, 
                       corr_respr1, corr_FJ_wager1, corr_respr2, corr_FJ_wager2, corr_respr3, corr_FJ_wager3, 
                       triple_stumper, incorr_respr1, incorr_FJ_wager1, incorr_respr2, incorr_FJ_wager2, incorr_respr3, incorr_FJ_wager3 ]
            all_rows.append(new_row)

<td class="clue_text" id="clue_J_1_1">In 1979 this horror master said, "Most of the market for my stuff is in paperbacks", but he's done okay in hardcover, too</td>
<td class="clue_text" id="clue_J_2_1">The name of this system that's used to detect &amp; locate objects is a palindrome &amp; an acronym</td>
<td class="clue_text" id="clue_J_3_1">Stuff the Magic Dragon:<br/>This NBA city</td>
<td class="clue_text" id="clue_J_4_1">It's a portable radio transmitter &amp; receiver for 2-way communication</td>
<td class="clue_text" id="clue_J_5_1">99.9% of all U.S. businesses, small businesses are defined as having fewer than this many employees, D to the Romans</td>
<td class="clue_text" id="clue_J_6_1">You get really high up hang-gliding over Bogota, this country's capital--already pretty high up at nearly 9,000 feet</td>
<td class="clue_text" id="clue_J_1_2">Crush your enemies &amp; name this Robert E. Howard barbarian whose "Collected Adventures" are collected in paperback</td>
<td class="clue_text" id="clue_J_2_2">In 2019 Kelley Blue Book named this Honda coupe Best Buy of the Year among compact cars</td>
<td class="clue_text" id="clue_J_3_2">Iceburgh:<br/>An NHL bird</td>
<td class="clue_text" id="clue_J_4_2">Nickname for the 1992 U.S. men's Olympic basketball squad</td>
<td class="clue_text" id="clue_J_5_2">A small business owner must take in more than $400 annually to be subject to self-employment these</td>
<td class="clue_text" id="clue_J_6_2">Seal Island just off this South African capital is a good place to swim with sharks--if you have a sturdy enough cage</td>
<td class="clue_text" id="clue_J_1_3">In 2020 this late, great writer was back on the paperback bestseller list with "The Bluest Eye", her debut novel</td>
<td class="clue_text" id="clue_J_2_3">A classic palindrome is this 3-word introduction</td>
<td class="clue_text" id="clue_J_3_3">The horse-like Miles:<br/>In the NFL's AFC West</td>
<td class="clue_text" id="clue_J_4_3">Slang for a cocktail party that takes place during a trip around the harbor</td>
<td class="clue_text" id="clue_J_5_3">Small businesses create over 10 times more of these exclusive invention registrations per employee than large companies</td>
<td class="clue_text" id="clue_J_6_3">Class II-IV this type of rafting is available right in the heart of Oklahoma City on the Oklahoma River</td>
<td class="clue_text" id="clue_J_1_4">When it comes to "L is for Lawless" &amp; "C is for Corpse", "G" is for this bestselling mystery author</td>
<td class="clue_text" id="clue_J_2_4">It's the type of device seen <a href="http://www.j-archive.com/media/2020-11-27_J_07.jpg" target="_blank">here</a></td>
<td class="clue_text" id="clue_J_3_4">Sourdough Sam:<br/>An NFL miner</td>
<td class="clue_text" id="clue_J_4_4">Varieties of this hot cocoa mix include unicorn marshmallows &amp; marshmallow lovers</td>
<td class="clue_text" id="clue_J_5_4">With wings or not, this type of investor provides seed money from his own pocket in exchange for equity in the business</td>
<td class="clue_text" id="clue_J_6_4">On the flight of the gibbon tour near Bangkok, you can soar above the Thai rain forest on these inclined cables</td>
<td class="clue_text" id="clue_J_1_5">This man who's given us "Goosebumps" has sold more than 400 million books</td>
<td class="clue_text" id="clue_J_2_5">Tumbling on soft mats is naturally part of the fun at this place where kids can take classes &amp; have birthday parties</td>
<td class="clue_text" id="clue_J_3_5">Barrelman:<br/>A Midwestern MLB mascot</td>
<td class="clue_text" id="clue_J_4_5">Hyphenated term for someone old-fashioned &amp; out of touch</td>
<td class="clue_text" id="clue_J_5_5">Per the National Small Business Association, more than 30% of U.S. small businesses operate as these, LLCs</td>
<td class="clue_text" id="clue_J_6_5">These 2 major airports make it tough to skydive over Paris--but there is a drop zone north of the capital</td>
<td class="clue_text" id="clue_DJ_1_1">U.S. schoolkids began reciting this as part of Columbus Day observances in 1892</td>
<td class="clue_text" id="clue_DJ_2_1">Less than a year before this young actor's 1955 death, Dennis Stock took the photo of him known as "Boulevard of Broken Dreams"</td>
<td class="clue_text" id="clue_DJ_3_1">Corridors of water vapor such as the Pineapple Express are called atmospheric these &amp; carry more moisture than the Amazon</td>
<td class="clue_text" id="clue_DJ_4_1">From the Egyptian for "great house" came this term for any of the great &amp; ancient rulers of Egypt</td>
<td class="clue_text" id="clue_DJ_5_1">In Genesis 21 she bore Abraham a son at age 90</td>
<td class="clue_text" id="clue_DJ_6_1">A robber who gains entry by climbing</td>
<td class="clue_text" id="clue_DJ_1_2">Term for the limited allocation of goods on the WWII home front; for gasoline &amp; coffee, it began in fall 1942</td>
<td class="clue_text" id="clue_DJ_2_2">Reprised in 2020, it's Keanu Reeves' most excellent role</td>
<td class="clue_text" id="clue_DJ_3_2">Lenticular <a href="http://www.j-archive.com/media/2020-11-27_DJ_24.jpg" target="_blank">clouds</a>, which usually form near mountains, are also called these clouds, because they can be mistaken for the weird phenomena</td>
<td class="clue_text" id="clue_DJ_4_2">The person with this title is the leader of the Yellow Hat sect of Tibetan Buddhists</td>
<td class="clue_text" id="clue_DJ_5_2">Before 2 letters were transposed, Ms. Winfrey was originally named for this sister-in-law of Ruth</td>
<td class="clue_text" id="clue_DJ_6_2">Avalon is the only incorporated city on this resort island off the coast of Southern California</td>
<td class="clue_text" id="clue_DJ_1_3">In the 1859 "Pig War", the U.S. &amp; this country nearly came to blows over ownership of the San Juan Islands</td>
<td class="clue_text" id="clue_DJ_2_3">This Australian actress' dad Peter Watts was a sound engineer for Pink Floyd</td>
<td class="clue_text" id="clue_DJ_3_3">Air pollution is made worse by the reactive type of this gas that makes up more than 3/4 of the atmosphere</td>
<td class="clue_text" id="clue_DJ_4_3">Eagle insignia led to the military slang term "full bird" this rank</td>
<td class="clue_text" id="clue_DJ_5_3">In the Gospel of John, she went to the disciples &amp; told them that she had seen the risen Lord at his tomb</td>
<td class="clue_text" id="clue_DJ_6_3">A subterranean burial chamber</td>
<td class="clue_text" id="clue_DJ_1_4">In 1892 John Muir co-founded this organization dedicated to protecting the great outdoors</td>
<td class="clue_text" id="clue_DJ_2_4"><a href="http://www.j-archive.com/media/2020-11-27_DJ_25.jpg" target="_blank">This</a> "Westworld" star can put OBE after her name having received the honor for her services to film &amp; charity</td>
<td class="clue_text" id="clue_DJ_3_4">On atmospheric entry, Mach 25 speeds create super-high temps., hence this 2-word item on the Apollo &amp; Mercury spacecraft</td>
<td class="clue_text" id="clue_DJ_4_4">(<a href="http://www.j-archive.com/media/2020-11-27_DJ_09.jpg" target="_blank">Sarah of the Clue Crew presents from Memento Park in Budapest, Hungary.</a>) Budapest's Memento Park may make you exclaim, "Cool"; Hungarians exclaim, "Király" which also means this, like Béla IV or Ladislaus I</td>
<td class="clue_text" id="clue_DJ_5_4">The wife of King Ahab, this mean queen introduced him to the worship of Baal</td>
<td class="clue_text" id="clue_DJ_6_4">Lepidopteran larva</td>
<td class="clue_text" id="clue_DJ_1_5">Known as the "Pathfinder", this soldier-explorer mapped most of the Oregon Trail in the 1840s with Kit Carson</td>
<td class="clue_text" id="clue_DJ_2_5">"Bonanza" &amp; "All My Children" actor David Canary was the great-great-nephew of Martha Jane Cannary, aka this Wild West woman</td>
<td class="clue_text" id="clue_DJ_3_5">On a commercial flight, you'll spend most of your time in the lower stratosphere before descending through this layer to Earth</td>
<td class="clue_text" id="clue_DJ_4_5">Deposed in 1797, Ludovico Manin was the last of these Venetian rulers</td>
<td class="clue_text" id="clue_DJ_5_5">Miriam was the sister of these 2 important figures of Exodus</td>
<td class="clue_text" id="clue_DJ_6_5">It's a question &amp; answer method of religious instruction</td>
<td class="clue_text" id="clue_FJ">Of the 6 mainland African countries through which the equator passes, this landlocked nation is last alphabetically</td>

In [50]:
all_rows

[['J',
  '1',
  '1',
  'clue_J_1_1',
  '$200',
  False,
  '30',
  'In 1979 this horror master said, "Most of the market for my stuff is in paperbacks", but he\'s done okay in hardcover, too',
  '(Stephen) King',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '1',
  'clue_J_2_1',
  '$200',
  False,
  '27',
  "The name of this system that's used to detect & locate objects is a palindrome & an acronym",
  'radar',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '1',
  'clue_J_3_1',
  '$200',
  False,
  '5',
  'Stuff the Magic Dragon:This NBA city',
  'Orlando',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '1',
  'clue_J_4_1',
  '$200',
  False,
  '28',
  "It's a portable radio transmitter & receiver for 2-way communication",
  'a walkie-talkie',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '1',
  'clue_J_5_1',
  '$200',
  False,
  '29',
  '99.9% of all U.S. businesses, small businesses are defined as having fewer than this many employees, D to the Romans',
  '500',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '1',
  'clue_J_6_1',
  '$200',
  False,
  '24',
  "You get really high up hang-gliding over Bogota, this country's capital--already pretty high up at nearly 9,000 feet",
  'Colombia',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '2',
  'clue_J_1_2',
  '$400',
  False,
  '21',
  'Crush your enemies & name this Robert E. Howard barbarian whose "Collected Adventures" are collected in paperback',
  'Conan',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '2',
  'clue_J_2_2',
  '$400',
  False,
  '10',
  'In 2019 Kelley Blue Book named this Honda coupe Best Buy of the Year among compact cars',
  'a Civic',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '2',
  'clue_J_3_2',
  '$400',
  False,
  '4',
  'Iceburgh:An NHL bird',
  'the Pittsburgh Penguins',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '2',
  'clue_J_4_2',
  '$400',
  False,
  '26',
  "Nickname for the 1992 U.S. men's Olympic basketball squad",
  'the Dream Team',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '2',
  'clue_J_5_2',
  '$400',
  False,
  '25',
  'A small business owner must take in more than $400 annually to be subject to self-employment these',
  'taxes',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  'Gabriel',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '2',
  'clue_J_6_2',
  '$400',
  False,
  '23',
  'Seal Island just off this South African capital is a good place to swim with sharks--if you have a sturdy enough cage',
  'Cape Town',
  'Chandy',
  '',
  '',
  '',
  '',
  '',
  False,
  'Gabriel',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '3',
  'clue_J_1_3',
  '$5,000',
  True,
  '20',
  'In 2020 this late, great writer was back on the paperback bestseller list with "The Bluest Eye", her debut novel',
  'Toni Morrison',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Gabriel',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '3',
  'clue_J_2_3',
  '$600',
  False,
  '8',
  'A classic palindrome is this 3-word introduction',
  "Madam, I\\'m Adam",
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  'Gabriel',
  '',
  'Chandy',
  '',
  '',
  ''],
 ['J',
  '3',
  '3',
  'clue_J_3_3',
  '$600',
  False,
  '3',
  "The horse-like Miles:In the NFL's AFC West",
  'the Broncos',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '3',
  'clue_J_4_3',
  '$600',
  False,
  '9',
  'Slang for a cocktail party that takes place during a trip around the harbor',
  'a booze cruise',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '3',
  'clue_J_5_3',
  '$600',
  False,
  '17',
  'Small businesses create over 10 times more of these exclusive invention registrations per employee than large companies',
  'patents',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '3',
  'clue_J_6_3',
  '$600',
  False,
  '18',
  'Class II-IV this type of rafting is available right in the heart of Oklahoma City on the Oklahoma River',
  'whitewater',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '4',
  'clue_J_1_4',
  '$800',
  False,
  '12',
  'When it comes to "L is for Lawless" & "C is for Corpse", "G" is for this bestselling mystery author',
  '(Sue) Grafton',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '4',
  'clue_J_2_4',
  '$800',
  False,
  '7',
  "It's the type of device seen here",
  'a level',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '4',
  'clue_J_3_4',
  '$800',
  False,
  '2',
  'Sourdough Sam:An NFL miner',
  'the 49ers',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '4',
  'clue_J_4_4',
  '$800',
  False,
  '15',
  'Varieties of this hot cocoa mix include unicorn marshmallows & marshmallow lovers',
  'Swiss Miss',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '4',
  'clue_J_5_4',
  '$800',
  False,
  '16',
  'With wings or not, this type of investor provides seed money from his own pocket in exchange for equity in the business',
  'an angel investor',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '4',
  'clue_J_6_4',
  '$800',
  False,
  '13',
  'On the flight of the gibbon tour near Bangkok, you can soar above the Thai rain forest on these inclined cables',
  'zip lines',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '1',
  '5',
  'clue_J_1_5',
  '$1000',
  False,
  '11',
  'This man who\'s given us "Goosebumps" has sold more than 400 million books',
  '(R.L. Stine)',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '2',
  '5',
  'clue_J_2_5',
  '$1000',
  False,
  '6',
  'Tumbling on soft mats is naturally part of the fun at this place where kids can take classes & have birthday parties',
  'My Gym',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '3',
  '5',
  'clue_J_3_5',
  '$1000',
  False,
  '1',
  'Barrelman:A Midwestern MLB mascot',
  'the (Milwaukee) Brewers',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '4',
  '5',
  'clue_J_4_5',
  '$1000',
  False,
  '14',
  'Hyphenated term for someone old-fashioned & out of touch',
  'a fuddy-duddy',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '5',
  '5',
  'clue_J_5_5',
  '$1000',
  False,
  '22',
  'Per the National Small Business Association, more than 30% of U.S. small businesses operate as these, LLCs',
  'limited liability corporations (companies)',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['J',
  '6',
  '5',
  'clue_J_6_5',
  '$1000',
  False,
  '19',
  'These 2 major airports make it tough to skydive over Paris--but there is a drop zone north of the capital',
  'Orly & Charles de Gaulle',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '1',
  'clue_DJ_1_1',
  '$400',
  False,
  '11',
  'U.S. schoolkids began reciting this as part of Columbus Day observances in 1892',
  'The Pledge of Allegiance',
  'Chandy',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '1',
  'clue_DJ_2_1',
  '$400',
  False,
  '21',
  'Less than a year before this young actor\'s 1955 death, Dennis Stock took the photo of him known as "Boulevard of Broken Dreams"',
  'James Dean',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '1',
  'clue_DJ_3_1',
  '$400',
  False,
  '30',
  'Corridors of water vapor such as the Pineapple Express are called atmospheric these & carry more moisture than the Amazon',
  'rivers',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  'Gabriel',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '1',
  'clue_DJ_4_1',
  '$400',
  False,
  '29',
  'From the Egyptian for "great house" came this term for any of the great & ancient rulers of Egypt',
  'pharaoh',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '1',
  'clue_DJ_5_1',
  '$400',
  False,
  '13',
  'In Genesis 21 she bore Abraham a son at age 90',
  'Sarah',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '1',
  'clue_DJ_6_1',
  '$400',
  False,
  '1',
  'A robber who gains entry by climbing',
  'a cat burglar',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '2',
  'clue_DJ_1_2',
  '$800',
  False,
  '8',
  'Term for the limited allocation of goods on the WWII home front; for gasoline & coffee, it began in fall 1942',
  'rationing',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '2',
  'clue_DJ_2_2',
  '$800',
  False,
  '20',
  "Reprised in 2020, it's Keanu Reeves' most excellent role",
  'Ted',
  'Chandy',
  '',
  '',
  '',
  '',
  '',
  False,
  'Ryan',
  '',
  'Gabriel',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '2',
  'clue_DJ_3_2',
  '$800',
  False,
  '24',
  'Lenticular clouds, which usually form near mountains, are also called these clouds, because they can be mistaken for the weird phenomena',
  'UFO clouds',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '2',
  'clue_DJ_4_2',
  '$9,000',
  True,
  '26',
  'The person with this title is the leader of the Yellow Hat sect of Tibetan Buddhists',
  'the Dalai Lama',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '2',
  'clue_DJ_5_2',
  '$800',
  False,
  '16',
  'Before 2 letters were transposed, Ms. Winfrey was originally named for this sister-in-law of Ruth',
  'Orpah',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '2',
  'clue_DJ_6_2',
  '$800',
  False,
  '3',
  'Avalon is the only incorporated city on this resort island off the coast of Southern California',
  'Catalina',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '3',
  'clue_DJ_1_3',
  '$1200',
  False,
  '5',
  'In the 1859 "Pig War", the U.S. & this country nearly came to blows over ownership of the San Juan Islands',
  'Great Britain',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '3',
  'clue_DJ_2_3',
  '$1200',
  False,
  '17',
  "This Australian actress' dad Peter Watts was a sound engineer for Pink Floyd",
  'Naomi Watts',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '3',
  'clue_DJ_3_3',
  '$3,500',
  True,
  '23',
  'Air pollution is made worse by the reactive type of this gas that makes up more than 3/4 of the atmosphere',
  'nitrogen',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '3',
  'clue_DJ_4_3',
  '$1200',
  False,
  '10',
  'Eagle insignia led to the military slang term "full bird" this rank',
  'colonel',
  'Chandy',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '3',
  'clue_DJ_5_3',
  '$1200',
  False,
  '15',
  'In the Gospel of John, she went to the disciples & told them that she had seen the risen Lord at his tomb',
  'Mary Magdalene',
  'Chandy',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '3',
  'clue_DJ_6_3',
  '$1200',
  False,
  '4',
  'A subterranean burial chamber',
  'a catacomb',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '4',
  'clue_DJ_1_4',
  '$1600',
  False,
  '6',
  'In 1892 John Muir co-founded this organization dedicated to protecting the great outdoors',
  'the Sierra Club',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '4',
  'clue_DJ_2_4',
  '$1600',
  False,
  '25',
  'This "Westworld" star can put OBE after her name having received the honor for her services to film & charity',
  '(Thandie) Newton',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '4',
  'clue_DJ_3_4',
  '$1600',
  False,
  '22',
  'On atmospheric entry, Mach 25 speeds create super-high temps., hence this 2-word item on the Apollo & Mercury spacecraft',
  'a heat shield',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '4',
  'clue_DJ_4_4',
  '$1600',
  False,
  '9',
  '(Sarah of the Clue Crew presents from Memento Park in Budapest, Hungary.) Budapest\'s Memento Park may make you exclaim, "Cool"; Hungarians exclaim, "Király" which also means this, like Béla IV or Ladislaus I',
  'king',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '4',
  'clue_DJ_5_4',
  '$1600',
  False,
  '14',
  'The wife of King Ahab, this mean queen introduced him to the worship of Baal',
  'Jezebel',
  'Chandy',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '4',
  'clue_DJ_6_4',
  '$1600',
  False,
  '2',
  'Lepidopteran larva',
  'caterpillar',
  'Chandy',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '1',
  '5',
  'clue_DJ_1_5',
  '$2000',
  False,
  '7',
  'Known as the "Pathfinder", this soldier-explorer mapped most of the Oregon Trail in the 1840s with Kit Carson',
  'John C. Frémont',
  '',
  '',
  '',
  '',
  '',
  '',
  True,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '2',
  '5',
  'clue_DJ_2_5',
  '$2000',
  False,
  '28',
  '"Bonanza" & "All My Children" actor David Canary was the great-great-nephew of Martha Jane Cannary, aka this Wild West woman',
  'Calamity Jane',
  'Chandy',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '3',
  '5',
  'clue_DJ_3_5',
  '$2000',
  False,
  '27',
  "On a commercial flight, you'll spend most of your time in the lower stratosphere before descending through this layer to Earth",
  'the troposphere',
  'Gabriel',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '4',
  '5',
  'clue_DJ_4_5',
  '$2000',
  False,
  '18',
  'Deposed in 1797, Ludovico Manin was the last of these Venetian rulers',
  'the doges',
  'Ryan',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '5',
  '5',
  'clue_DJ_5_5',
  '$2000',
  False,
  '19',
  'Miriam was the sister of these 2 important figures of Exodus',
  'Aaron & Moses',
  'Chandy',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  ''],
 ['DJ',
  '6',
  '5',
  'clue_DJ_6_5',
  '$2000',
  False,
  '12',
  "It's a question & answer method of religious instruction",
  'catechism',
  'Chandy',
  '',
  '',
  '',
  '',
  '',
  False,
  '',
  '',
  '',
  '',
  '',
  '']]

In [51]:
round_code = 'FJ'
cat_num = '1'
clue_num = '1'
clue_id = 'clue_FJ'
clue_value = ''
daily_double = False
clue_order = ''
clue_text = ''
corr_resp = ''
triple_stumper = True

final_round = soup.find('table', class_ = 'final_round').find_all('td')
#type(final_round)
#final_round - this will absolutely barf and so will a print; it gives a type error

for item in final_round:
    #this only works because it's the first item! aaargh
    stats = BeautifulSoup(item.find('div', onmouseover=True).get('onmouseover'))
    if stats:
        break
corr_resp = stats.find('em')
corr_resp = corr_resp.get_text()

#make a dictionary of responders
resprs = {}
wagers = stats.findAll('td')

right = 0
wrong = 0
for td in wagers:
    td_text = td.get_text()
    if td.has_attr('class'):
        td_class = td.get('class')[0]
        if td_class == 'right':
            triple_stumper = False
            right +=1
            key_name = 'corr_respr' + str(right)
            resprs[key_name] = td_text
            wager_key = 'corr_FJ_wager' + str(right)
        else:
            wrong +=1
            key_name = 'incorr_respr' + str(wrong)
            resprs[key_name] = td_text
            wager_key = 'incorr_FJ_wager' + str(wrong)
    if td.has_attr('rowspan'):
        continue
    if not td.has_attr('class'):
        resprs[wager_key] = td_text
        
corr_respr1 = resprs.get('corr_respr1', '')
corr_FJ_wager1 = resprs.get('corr_FJ_wager1', '')
corr_respr2 = resprs.get('corr_respr2', '')
corr_FJ_wager2 = resprs.get('corr_FJ_wager2', '')
corr_respr3 = resprs.get('corr_respr3', '')
corr_FJ_wager3 = resprs.get('corr_FJ_wager3', '')
incorr_respr1 = resprs.get('incorr_respr1','')
incorr_FJ_wager1 = resprs.get('incorr_FJ_wager1', '')
incorr_respr2 = resprs.get('incorr_respr2','')
incorr_FJ_wager2 = resprs.get('incorr_FJ_wager2', '')
incorr_respr3 = resprs.get('incorr_respr3','')
incorr_FJ_wager3 = resprs.get('incorr_FJ_wager3', '')

clue_text = soup.find('td', attrs = {'class': 'clue_text', 'id': 'clue_FJ'})
clue_text = clue_text.get_text()
#print(clue_text)

new_row = [round_code, cat_num, clue_num, clue_id, clue_value, daily_double, clue_order, clue_text, corr_resp, 
                   corr_respr1, corr_FJ_wager1, corr_respr2, corr_FJ_wager2, corr_respr3, corr_FJ_wager3, 
                   triple_stumper, incorr_respr1, incorr_FJ_wager1, incorr_respr2, incorr_FJ_wager2, incorr_respr3, incorr_FJ_wager3]
all_rows.append(new_row)

In [52]:
this_show = pd.DataFrame(all_rows)
this_show.columns = ['round_code', 'cat_num', 'clue_num', 'clue_id', 'clue_value', 'daily_double', 'clue_order', 'clue_text', 'corr_resp', 
                   'corr_respr1', 'corr_FJ_wager1', 'corr_respr2', 'corr_FJ_wager2', 'corr_respr3', 'corr_FJ_wager3', 
                   'triple_stumper', 'incorr_respr1', 'incorr_FJ_wager1', 'incorr_respr2', 'incorr_FJ_wager2', 'incorr_respr3', 'incorr_FJ_wager3']
this_show = this_show.merge(categories, how='left', left_on=['round_code', 'cat_num'], right_on=['round_code', 'cat_num'])
this_show

,round_code,cat_num,clue_num,clue_id,clue_value,daily_double,clue_order,clue_text,corr_resp,corr_respr1,...,incorr_respr1,incorr_FJ_wager1,incorr_respr2,incorr_FJ_wager2,incorr_respr3,incorr_FJ_wager3,category,season,show_num,air_date
0,J,1,1,clue_J_1_1,$200,False,30,"In 1979 this horror master said, ""Most of the ...",(Stephen) King,Gabriel,...,,,,,,,PAPERBACK WRITER,37,8290,2020-11-27
1,J,2,1,clue_J_2_1,$200,False,27,The name of this system that's used to detect ...,radar,Gabriel,...,,,,,,,PALINDROMES,37,8290,2020-11-27
2,J,3,1,clue_J_3_1,$200,False,5,Stuff the Magic Dragon:This NBA city,Orlando,Gabriel,...,,,,,,,PRO TEAMS' MASCOTS,37,8290,2020-11-27
3,J,4,1,clue_J_4_1,$200,False,28,It's a portable radio transmitter & receiver f...,a walkie-talkie,Ryan,...,,,,,,,REAL-DEAL RHYME TIME,37,8290,2020-11-27
4,J,5,1,clue_J_5_1,$200,False,29,"99.9% of all U.S. businesses, small businesses...",500,Gabriel,...,,,,,,,LET'S START A SMALL BUSINESS,37,8290,2020-11-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,DJ,3,5,clue_DJ_3_5,$2000,False,27,"On a commercial flight, you'll spend most of y...",the troposphere,Gabriel,...,,,,,,,THE ATMOSPHERE,37,8290,2020-11-27
57,DJ,4,5,clue_DJ_4_5,$2000,False,18,"Deposed in 1797, Ludovico Manin was the last o...",the doges,Ryan,...,,,,,,,RANKS & TITLES,37,8290,2020-11-27
58,DJ,5,5,clue_DJ_5_5,$2000,False,19,Miriam was the sister of these 2 important fig...,Aaron & Moses,Chandy,...,,,,,,,BIBLICAL WOMEN,37,8290,2020-11-27
59,DJ,6,5,clue_DJ_6_5,$2000,False,12,It's a question & answer method of religious i...,catechism,Chandy,...,,,,,,,"C AS IN ""CAT""",37,8290,2020-11-27
60,FJ,1,1,clue_FJ,,False,,Of the 6 mainland African countries through wh...,Uganda,Ryan,...,Chandy,"$4,400",Gabriel,"$14,698",,,WORLD GEOGRAPHY,37,8290,2020-11-27

In [53]:
this_show.to_csv('data/j_clues.csv', index=False)

In [ ]:
#this_show.to_csv('data/j_clues.csv', mode='a', index=False, header=False)

https://github.com/whymarrh/jeopardy-parser/blob/master/parser.py